<% include ../partials/head %>

<link rel="stylesheet" href="/stylesheets/case-study.css">

<% include ../partials/head-bottom %>
<% include ../components/nav %>

<main>
    <section id="title">
        <div class="container">
            <h1>Redesigning hotel organisational structures for agility in a volatile market</h1>
        </div>
    </section>
    <section id="subtitle">
        <div class="container">
            <div class="client-logo">
                <a href="#">
                    <img src="/images/clients/ihg.png" alt="">
                </a>
            </div>
            <div class="subtitle-content">
                <h2>To help IHG adapt and respond to the global pandemic, they needed to reimagine the way their hotels have operated for decades.</h2>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="content-header">
                <h3>Challenge</h3>
            </div>
            <div class="content-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique sit amet quam a tincidunt. Donec laoreet tincidunt metus at auctor. Maecenas a sem ullamcorper lacus gravida ornare vitae bibendum tellus. Nunc tristique congue tellus, fermentum facilisis tortor molestie non. Maecenas ac dapibus arcu, ut auctor turpis. Nunc iaculis neque at erat faucibus, quis eleifend nibh fringilla. Pellentesque a mauris vitae purus mollis rutrum. Aliquam sit amet blandit nisl, in consequat felis. Fusce eu orci et ipsum consequat feugiat id at quam. Donec a egestas diam. Vivamus elementum gravida lorem. Nulla facilisi. Nam fermentum semper orci nec maximus. Mauris libero nunc, sollicitudin iaculis dui pharetra, pharetra sagittis dolor. Vivamus posuere ante vel neque mollis, et interdum nisi congue.</p>
            </div>
            <div class="content-header">
                <h3>Process</h3>
            </div>
            <div class="content-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique sit amet quam a tincidunt. Donec laoreet tincidunt metus at auctor. Maecenas a sem ullamcorper lacus gravida ornare vitae bibendum tellus. Nunc tristique congue tellus, fermentum facilisis tortor molestie non. Maecenas ac dapibus arcu, ut auctor turpis. Nunc iaculis neque at erat faucibus, quis eleifend nibh fringilla. Pellentesque a mauris vitae purus mollis rutrum. Aliquam sit amet blandit nisl, in consequat felis. Fusce eu orci et ipsum consequat feugiat id at quam. Donec a egestas diam. Vivamus elementum gravida lorem. Nulla facilisi. Nam fermentum semper orci nec maximus. Mauris libero nunc, sollicitudin iaculis dui pharetra, pharetra sagittis dolor. Vivamus posuere ante vel neque mollis, et interdum nisi congue.</p>
            </div>
            <div class="content-header">
                <h3>Results</h3>
            </div>
            <div class="content-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique sit amet quam a tincidunt. Donec laoreet tincidunt metus at auctor. Maecenas a sem ullamcorper lacus gravida ornare vitae bibendum tellus. Nunc tristique congue tellus, fermentum facilisis tortor molestie non. Maecenas ac dapibus arcu, ut auctor turpis. Nunc iaculis neque at erat faucibus, quis eleifend nibh fringilla. Pellentesque a mauris vitae purus mollis rutrum. Aliquam sit amet blandit nisl, in consequat felis. Fusce eu orci et ipsum consequat feugiat id at quam. Donec a egestas diam. Vivamus elementum gravida lorem. Nulla facilisi. Nam fermentum semper orci nec maximus. Mauris libero nunc, sollicitudin iaculis dui pharetra, pharetra sagittis dolor. Vivamus posuere ante vel neque mollis, et interdum nisi congue.</p>
            </div>
        </div>
    </section>
    <section id="testimonial">
        <div class="container">
            <div class="testimonial-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique sit amet quam a tincidunt. Donec laoreet tincidunt metus at auctor. Maecenas a sem ullamcorper lacus gravida ornare vitae bibendum tellus. Nunc tristique congue tellus, fermentum facilisis tortor molestie non. Maecenas ac dapibus arcu, ut auctor turpis. Nunc iaculis neque at erat faucibus, quis eleifend nibh fringilla. Pellentesque a mauris vitae purus mollis rutrum. Aliquam sit amet blandit nisl, in consequat felis. Fusce eu orci et ipsum consequat feugiat id at quam. Donec a egestas diam. Vivamus elementum gravida lorem. Nulla facilisi. Nam fermentum semper orci nec maximus. Mauris libero nunc, sollicitudin iaculis dui pharetra, pharetra sagittis dolor. Vivamus posuere ante vel neque mollis, et interdum nisi congue.</p>
                <div class="testimonial-details">
                    <p class="name">Brenden Van Blerk</p>
                    <p class="title">Director, New Hotels - Australasia & Japan</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="cta">
        <div class="item-wrapper input-purple glow-effect">
            <input type="text" class="form-input">
        </div>
    </section> -->
</main>

<div id="particle-js"></div>

<% include ../components/footer %>