<div id="particle-js"></div>

<footer>
    <div class="footer-wrapper">
        <div class="footer-socials">
            <a href="https://www.linkedin.com/company/inastra/about" target="_blank" class="social-link eos-link" id="linkedin">
                <img src="/images/LinkedIn.svg" alt="LinkedIn">
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="footer-nav">
            <a href="/" class="eos-link">Home</a>
            <a href="/about" class="eos-link">About</a>
            <a href="/#services" class="eos-link">Services</a>
            <a href="/#approach" class="eos-link">Approach</a>
            <a href="/#contact" class="eos-link">Contact</a>
        </div>
        <div class="footer-copyright">
            <span class="copyright">© <%= new Date().getFullYear() %> INASTRA PTY LTD</span>
        </div>
        <div class="footer-legal">
            <a href="/legal/privacy-policy" class="eos-link privacy-policy">Privacy Policy</a>
            <p>Website by <a href="https://www.isaacpeiris.com/?utm_source=inastra" class="eos-link">Isaac Peiris</a></p>
        </div>
    </div>
</footer>

</body>

</html>