<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/master.css">
  <script src="/javascripts/master.js"></script>

  <!-- nav -->
  <link rel="stylesheet" href="/components/nav/nav.css">
  <script src="/components/nav/nav.js"></script>