<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165289924-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-165289924-1');
    </script>

    <!-- LinkedIn Insight Tag -->
    <script type="text/javascript">
        _linkedin_partner_id = "2290604";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
        (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2290604&fmt=gif" />
    </noscript>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- plugins -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- Link share image -->
    <meta property="og:image" content="https://www.inastra.co/images/marketing/inastra_ad-img.jpg" />

    <!-- design system -->
    <link rel="stylesheet" href="/design-system/design-system.css">
    <script src="/design-system/design-system.js"></script>

    <!-- components -->
    <link rel="stylesheet" href="/components/nav/nav.css">
    <script src="/components/nav/nav.js"></script>
    <link rel="stylesheet" href="/components/footer/footer.css">

    <!-- master files -->
    <link rel="stylesheet" href="/stylesheets/master.css">
    <script src="/javascripts/master.js"></script>

    <!-- marketing -->
    <script src="/javascripts/marketing.js"></script>

    <title>Inastra | <%= title %></title>