<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- plugins -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- design system -->
    <link rel="stylesheet" href="/design-system/design-system.css">
    <script src="/design-system/design-system.js"></script>

    <!-- components -->
    <link rel="stylesheet" href="/components/nav/nav.css">
    <script src="/components/nav/nav.js"></script>
    <link rel="stylesheet" href="/components/footer/footer.css">

    <!-- master files -->
    <link rel="stylesheet" href="/stylesheets/master.css">
    <script src="/javascripts/master.js"></script>

    <title>Inastra | <%= title %></title>