<header class="eos-topnav">
    <div class="topnav__logo">
        <a href="/"><img src="/images/brand/logos/icon.png" alt=""></a>
    </div>

    <button class="eos-btn eos-btn--icon eos-btn--flat eos-icon" id="mobile-menu" aria-controls="top-nav" aria-expanded="false">menu</button>

    <nav class="topnav__links" id="top-nav">
        <a href="/about" class="eos-btn eos-btn--flat">About</a>
        <a href="/#services" class="eos-btn eos-btn--flat">Services</a>
        <a href="/#approach" class="eos-btn eos-btn--flat">Approach</a>
        <a href="/insights" class="eos-btn eos-btn--flat">Insights</a>
        <a href="/#contact" class="eos-btn eos-btn--flat">Contact</a>
    </nav>
</header>