:root {
	--nav-height: 68px;
}

nav {
	display: block;
	height: var(--nav-height);
	padding: 0;
	position: fixed;
	top: 0;
	transition: background 300ms ease;
	width: 100%;
	z-index: 10;
}

nav:not(.transparent) {
	background: var(--c-white);
	box-shadow: 0 4px 6px var(--c-black-opacity-40);
	color: var(--c-base-500);
}

nav .logo.bnw-white {
	display: none;
}

nav.transparent .logo.white {
	display: block;
}

nav.transparent .logo.colour {
	display: none;
}

nav:not(.transparent) .logo.white {
	display: none;
}

nav:not(.transparent) .logo.colour {
	display: block;
}

nav.transparent {
	background: transparent;
	color: var(--c-white);
}

nav.transparent .btn-flat {
	color: var(--c-white);
}

nav.transparent .btn-flat span.ripple {
	background-color: var(--c-grey-600);
}

nav.transparent .btn-flat:hover {
	background-color: var(--c-grey-100);
}

nav.transparent .btn:focus {
	box-shadow: 0 0 0 2px var(--c-white);
}

.nav-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	margin: auto;
	max-width: 72rem;
	padding: 0 24px;
}

.nav-right {
	align-items: center;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(5, auto);
}

.nav-item {
	color: inherit;
	position: relative;
}

.nav-item.logo {
	display: block;
	height: 42px;
}

.nav-item.logo img {
	height: 100%;
}

.nav-item.button {
	background-color: var(--c-blue-800);
	border-radius: 120px;
	color: var(--c-white);
	margin: 0;
	padding: 12px 24px;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

.nav-item.button:focus,
.nav-item.button:hover {
	background-color: var(--c-blue-500);
	box-shadow: 0 0 12px var(--c-blue-500);
}

/* mobile */
.mobile-nav-wrapper {
	align-items: center;
	display: none;
	height: 100%;
	justify-content: space-between;
	margin: auto;
	max-width: 1440px;
	padding: 0 24px;
	position: relative;
}

@media screen and (max-width: 720px) {
	.mobile-nav-wrapper {
		display: flex;
	}
	.nav-wrapper {
		display: none;
	}
}

.menu-icon {
	height: 36px;
	position: relative;
	width: 36px;
}

.menu-icon span {
	display: block;
	position: relative;
}

.transparent .menu-icon span,
.transparent .menu-icon span::before,
.transparent .menu-icon span::after {
	background-color: var(--c-white);
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
	background-color: var(--c-base-500);
	height: 2px;
	transition: all 300ms ease;
	width: 24px;
}

.menu-icon span::before,
.menu-icon span::after {
	content: '';
	left: 0;
	position: absolute;
}

.menu-icon span::before {
	top: 6px;
}

.menu-icon span::after {
	bottom: 6px;
}

.menu-icon button.active span {
	transform: rotate(45deg);
}

.menu-icon button.active span::before {
	transform: rotate(90deg) translate(-6px);
}

.menu-icon button.active span::after {
	opacity: 0;
}