:root {
    --nav-height: 68px;
}

nav {
    position: fixed;
    top: 0;
    height: var(--nav-height);
    width: calc(100% - 48px);
    background-color: var(--c-white);
    color: var(--background);
    transition: background-color 400ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-shadow: 0 2px 4px var(--c-black-20);
    z-index: 9999;
}

nav > div {
    height: 100%;
    display: flex;
}

.nav-item {
    color: inherit;
    display: flex;
    align-items: center;
    padding: 12px;
}