:root {
    --nav-height: 68px;
}

nav {
    position: fixed;
    top: 0;
    height: var(--nav-height);
    width: 100%;
    background: transparent;
    color: var(--c-white);
    z-index: 9999;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--nav-height));
    width: 100%;
    background-color: var(--c-secondary);
    box-shadow: 0 2px 6px var(--c-secondary-40);
    transition-property: background-color, box-shadow;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

nav.transparent::before {
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    max-width: 1440px;
    margin: auto;
}

.nav-right {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    grid-gap: 24px;
}

.nav-item {
    color: inherit;
    position: relative;
}

.nav-item.logo {
    font-family: var(--f-title);
    font-weight: 700;
    font-size: var(--f-size-5);
}

.nav-item.button {
    margin: 0;
    background-color: var(--c-primary);
    padding: 12px;
    color: var(--c-white);
    transition: background-color 200ms ease;
    box-shadow: 0 0 8px var(--c-primary);
    border-radius: 2px;
}

.nav-item.button:focus,
.nav-item.button:hover {
    background-color: var(--c-primary-60);
}