:root {
    --nav-height: 68px;
}

nav {
    position: fixed;
    top: 0;
    height: var(--nav-height);
    width: 100%;
    z-index: 10;
    transition: background 300ms ease;
}

nav:not(.transparent) {
    background: var(--c-white);
    color: var(--c-base-500);
    box-shadow: 0 4px 6px var(--c-black-opacity-40);
}

nav .logo.bnw-white {
    display: none;
}

nav.transparent .logo.white {
    display: block;
}

nav.transparent .logo.colour {
    display: none;
}

nav:not(.transparent) .logo.white {
    display: none;
}

nav:not(.transparent) .logo.colour {
    display: block;
}

nav.transparent {
    background: transparent;
    color: var(--c-white);
}

nav.transparent .btn-flat {
    color: var(--c-white);
}

nav.transparent .btn-flat span.ripple {
    background-color: var(--c-grey-600);
}

nav.transparent .btn-flat:hover {
    background-color: var(--c-grey-100);
}

nav.transparent .btn:focus {
    box-shadow: 0 0 0 2px var(--c-white);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    max-width: 72rem;
    margin: auto;
}

.nav-right {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    grid-gap: 24px;
}

.nav-item {
    color: inherit;
    position: relative;
}

.nav-item.logo {
    display: block;
    height: 42px;
}

.nav-item.logo img {
    height: 100%;
}

.nav-item.button {
    margin: 0;
    background-color: var(--c-blue-800);
    padding: 12px 24px;
    color: var(--c-white);
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    border-radius: 120px;
}

.nav-item.button:focus,
.nav-item.button:hover {
    background-color: var(--c-blue-500);
    box-shadow: 0 0 12px var(--c-blue-500);
}

/* mobile */
.mobile-nav-wrapper {
    display: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width: 720px) {
    .mobile-nav-wrapper {
        display: flex;
    }
    .nav-wrapper {
        display: none;
    }
}

.menu-icon {
    position: relative;
    width: 36px;
    height: 36px;
}

.menu-icon span {
    position: relative;
    display: block;
}

.transparent .menu-icon span,
.transparent .menu-icon span::before,
.transparent .menu-icon span::after {
    background-color: var(--c-white);
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
    width: 24px;
    height: 2px;
    background-color: var(--c-base-500);
    transition: all 300ms ease;
}

.menu-icon span::before,
.menu-icon span::after {
    content: '';
    position: absolute;
    left: 0;
}

.menu-icon span::before {
    top: 6px;
}

.menu-icon span::after {
    bottom: 6px;
}

.menu-icon button.active span {
    transform: rotate(45deg);
}

.menu-icon button.active span::before {
    transform: rotate(90deg) translate(-6px);
}

.menu-icon button.active span::after {
    opacity: 0;
}