:root {
    --nav-height: 68px;
}

nav {
    position: fixed;
    top: 0;
    height: var(--nav-height);
    width: 100%;
    background: transparent;
    color: var(--c-white);
    z-index: 9999;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--nav-height) + 6vh);
    width: 100%;
    background: linear-gradient(0deg, transparent, var(--c-background));
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    max-width: 1440px;
    margin: auto;
}

.nav-item {
    color: inherit;
    position: relative;
}

.nav-right > a {
    margin-right: 12px;
}

.nav-item.button {
    margin: 0;
    background-color: var(--c-secondary-60);
    padding: 12px;
    color: var(--c-white);
    transition: background-color 200ms ease;
}

.nav-item.button:focus,
.nav-item.button:hover {
    background-color: var(--c-secondary-90);
}