:root {
    --nav-height: 68px;
}

nav {
    position: fixed;
    top: 0;
    height: var(--nav-height);
    width: 100%;
    background: transparent;
    color: var(--c-white);
    z-index: 9999;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--nav-height));
    width: 100%;
    background-color: var(--c-secondary);
    box-shadow: 0 2px 6px var(--c-secondary-40);
    transition: background-color 400ms ease, box-shadow 400ms ease;
    -webkit-transition: background-color 400ms ease, box-shadow 400ms ease;
}

nav.transparent::before {
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    max-width: 1440px;
    margin: auto;
}

.nav-right {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    grid-gap: 24px;
}

.nav-item {
    color: inherit;
    position: relative;
}

.nav-item.logo {
    display: block;
    height: 42px;
}

.nav-item.logo img {
    height: 100%;
}

.nav-item.button {
    margin: 0;
    background-color: var(--c-primary-80);
    padding: 12px 24px;
    color: var(--c-white);
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    border-radius: 120px;
}

.nav-item.button:focus,
.nav-item.button:hover {
    background-color: var(--c-primary);
    box-shadow: 0 0 12px var(--c-primary);
}

/* mobile */
.mobile-nav-wrapper {
    display: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 24px;
    max-width: 1440px;
    margin: auto;
}

button#menu {
    border: none;
    background-color: transparent;
    color: var(--c-white);
    margin: 0;
    padding: 4px 5px;
}

.mobile-nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: var(--nav-height);
    left: 0;
    background-color: var(--c-secondary);
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: height 400ms ease;
    -webkit-transition: height 400ms ease;
}

.mobile-nav.active {
    height: calc(100% - var(--nav-height));
}

.mobile-nav-links {
    padding: 4vh;
    display: grid;
    text-align: center;
    grid-gap: 24px;
    height: fit-content;
    width: 100%;
}

.mobile-nav .nav-item {
    padding: 24px;
    background-color: var(--c-purple-20);
    border-radius: 2px;
    font-family: var(--f-title);
    font-size: var(--f-size-5);
    transition: background-color 200ms ease;
    -webkit-transition: background-color 200ms ease;
}

.mobile-nav .nav-item:hover {
    background-color: var(--c-purple);
}

.mobile-nav .nav-item.button {
    background-color: var(--c-primary);
}

@media screen and (max-width: 720px) {
    .mobile-nav-wrapper {
        display: flex;
    }
    .nav-wrapper {
        display: none;
    }
}
