<footer class="section">
    <div class="footer-wrapper">
        <div class="footer-left">
            <div class="social-links">
                <a href="https://www.linkedin.com/company/innova-ci/about" target="_blank" class="social-link link" id="linkedin">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjIiIGJhc2VQcm9maWxlPSJ0aW55IiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9Ii0wLjEwMDAwMDAwMTQ5MDExNjEyIDAuNDAwMDAwMDA1OTYwNDY0NSAxMjggMTI3LjUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIHN0eWxlPSJ3aWR0aDogMTAwJTsgaGVpZ2h0OiAxMDAlOyIgZmlsbD0icmdiKDI1MiwyNTIsMjUyKSIgZmlsbC1vcGFjaXR5PSIxIj4KPGc+Cgk8cGF0aCBkPSJNMiwxMjcuOWgyNi41VjQyLjdIMlYxMjcuOXogTTE1LjMsMC40QzYuOCwwLjQtMC4xLDcuMy0wLjEsMTUuN2MwLDguNSw2LjksMTUuNCwxNS40LDE1LjQgICBjOC41LDAsMTUuNC02LjksMTUuNC0xNS40QzMwLjYsNy4zLDIzLjgsMC40LDE1LjMsMC40eiBNOTYsNDAuNmMtMTIuOSwwLTIxLjUsNy4xLTI1LjEsMTMuOGgtMC40VjQyLjdINDUuMnY4NS4yaDI2LjVWODUuNyAgIGMwLTExLjEsMi4xLTIxLjksMTUuOS0yMS45YzEzLjYsMCwxMy44LDEyLjcsMTMuOCwyMi42djQxLjRoMjYuNVY4MS4yQzEyNy43LDU4LjIsMTIyLjgsNDAuNiw5Niw0MC42eiIvPgo8L2c+Cjwvc3ZnPg==" alt="LinkedIn">
                    <span>LinkedIn</span>
                </a>
            </div>
            <span class="copyright">© 2020 Innova Consulting Pty Ltd</span>
        </div>
        <div class="footer-right">
            <div class="footer-nav">
                <a href="#" class="footer-link link">Home</a>
                <a href="#about" class="footer-link link">About</a>
                <a href="#services" class="footer-link link">Services</a>
                <a href="#contact" class="footer-link link">Contact</a>
            </div>
            <div class="legal">
                <a href="#" class="footer-link link">Terms & Conditions</a>
                <a href="#" class="footer-link link">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>