<footer>
    <div class="footer-wrapper">
        <div class="social-links">
            <a href="https://www.linkedin.com/company/innova-tion/about" target="_blank" class="social-link link" id="linkedin">
                <img src="/images/LinkedIn.svg" alt="LinkedIn">
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="footer-nav">
            <a href="#" class="footer-link link">Home</a>
            <a href="#about" class="footer-link link">About</a>
            <a href="#services" class="footer-link link">Services</a>
            <a href="#contact" class="footer-link link">Contact</a>
        </div>
        <span class="copyright">© INASTRA PTY LTD 2020</span>
    </div>
</footer>

</body>
</html>