<footer>
    <div class="footer-wrapper">
        <div class="footer-socials">
            <a href="https://www.linkedin.com/company/inastra/about" target="_blank" class="social-link link" id="linkedin">
                <img src="/images/LinkedIn.svg" alt="LinkedIn">
                <span>LinkedIn</span>
            </a>
            <a href="https://twitter.com/inastra_co" target="_blank" class="social-link link" id="twitter">
                <img src="/images/Twitter.svg" alt="Twitter">
                <span>Twitter</span>
            </a>
        </div>
        <div class="footer-nav">
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/services" class="link">Services</a>
            <a href="/#approach" class="link">Approach</a>
            <a href="/#contact" class="link">Contact</a>
        </div>
        <div class="footer-copyright">
            <span class="copyright">© 2021 INASTRA PTY LTD</span>
        </div>
        <div class="footer-legal">
            <a href="/legal/privacy-policy" class="link">Privacy Policy</a>
        </div>
    </div>
</footer>

</body>

</html>