<nav>
    <div class="nav-left">
        <a href="#" class="nav-item link">Home</a>
    </div>
    <div class="nav-centre"></div>
    <div class="nav-right">
        <a href="#about" class="nav-item link">About</a>
        <a href="#blog" class="nav-item link">Blog</a>
        <a href="#contact" class="nav-item link">Contact</a>
    </div>
</nav>