<nav class="transparent">
    <div class="nav-left">
        <a href="#" class="nav-item"><span class="link">Home</span></a>
    </div>
    <div class="nav-centre"></div>
    <div class="nav-right">
        <a href="#about" class="nav-item"><span class="link">About</span></a>
        <a href="#services" class="nav-item"><span class="link">Services</span></a>
        <a href="#contact" class="nav-item"><span class="link">Contact</span></a>
    </div>
</nav>