<nav class="transparent">
    <div class="nav-wrapper">
        <div class="nav-left">
            <a href="#" class="nav-item link logo">innova</a>
        </div>
        <div class="nav-centre"></div>
        <div class="nav-right">
            <a href="#about" class="nav-item link">About</a>
            <a href="#services" class="nav-item link">Services</a>
            <a href="#approach" class="nav-item link">Approach</a>
            <a href="#contact" class="nav-item button">Let's get started</a>
        </div>
    </div>
</nav>