<nav class="transparent">
    <div class="nav-wrapper">
        <div class="nav-left">
            <a href="/" class="nav-item logo bnw-white"><img src="/images/brand/logos/logo_b&w_white.png" alt=""></a>
            <a href="/" class="nav-item logo white"><img src="/images/brand/logos/logo_white.png" alt=""></a>
            <a href="/" class="nav-item logo colour"><img src="/images/brand/logos/logo.png" alt=""></a>
        </div>
        <div class="nav-centre"></div>
        <div class="nav-right">
            <a href="/" class="btn btn-flat">Home</a>
            <a href="/about" class="btn btn-flat">About</a>
            <a href="/services" class="btn btn-flat">Services</a>
            <a href="/#approach" class="btn btn-flat">Approach</a>
            <a href="/insights" class="btn btn-flat">Insights</a>
            <a href="/#contact" class="btn btn-blue btn-filled">Get in touch</a>
        </div>
    </div>
    <div class="mobile-nav-wrapper">
        <div class="menu-icon">
            <button class="btn btn-flat icon-only" data-menu-target="mobile-nav"><i class="material-icons">menu</i></button>
        </div>
        <div class="branding">
            <a href="/" class="nav-item logo white"><img src="/images/brand/logos/logo_white.png" alt=""></a>
            <a href="/" class="nav-item logo colour"><img src="/images/brand/logos/logo.png" alt=""></a>
        </div>
    </div>
</nav>

<div class="menu" id="mobile-nav">
    <div class="menu-section">
        <a href="/" class="btn btn-flat">Home</a>
        <a href="/about" class="btn btn-flat">About</a>
        <a href="/services" class="btn btn-flat">Services</a>
        <a href="/#approach" class="btn btn-flat">Approach</a>
        <a href="/insights" class="btn btn-flat">Insights</a>
        <a href="/#contact" class="btn btn-blue btn-filled">Get in touch</a>
    </div>
</div>