<nav class="transparent">
    <div class="nav-wrapper">
        <div class="nav-left">
            <a href="/" class="nav-item logo"><img src="/images/logo.png" alt=""></a>
        </div>
        <div class="nav-centre"></div>
        <div class="nav-right">
            <a href="#about" class="nav-item link">About</a>
            <a href="#services" class="nav-item link">Services</a>
            <a href="#approach" class="nav-item link">Approach</a>
            <a href="#contact" class="nav-item btn btn-primary on-dark glow-effect">Let's get started</a>
        </div>
    </div>
    <div class="mobile-nav-wrapper">
        <div class="menu-icon">
            <button id="menu"><i class="material-icons">menu</i></button>
        </div>
        <div class="mobile-nav">
            <div class="mobile-nav-links">
                <a href="#about" class="nav-item">About</a>
                <a href="#services" class="nav-item">Services</a>
                <a href="#approach" class="nav-item">Approach</a>
                <a href="#contact" class="nav-item button">Let's get started</a>
            </div>
        </div>
        <div class="branding">
            <a href="/" class="nav-item logo"><img src="/images/logo.png" alt=""></a>
        </div>
    </div>
</nav>