<nav class="transparent">
    <div class="nav-wrapper">
        <div class="nav-left">
            <a href="/" class="nav-item logo bnw-white"><img src="/images/brand/logos/logo_b&w_white.png" alt=""></a>
            <a href="/" class="nav-item logo white"><img src="/images/brand/logos/logo_white.png" alt=""></a>
            <a href="/" class="nav-item logo colour"><img src="/images/brand/logos/logo.png" alt=""></a>
        </div>
        <div class="nav-centre"></div>
        <div class="nav-right">
            <a href="/" class="eos-c-btn eos-c-btn--white">Home</a>
            <a href="/about" class="eos-c-btn eos-c-btn--white">About</a>
            <a href="/services" class="eos-c-btn eos-c-btn--white">Services</a>
            <a href="/#approach" class="eos-c-btn eos-c-btn--white">Approach</a>
            <a href="/insights" class="eos-c-btn eos-c-btn--white">Insights</a>
            <a href="/#contact" class="eos-c-btn eos-c-btn--blue eos-c-btn--filled">Get in touch</a>
        </div>
    </div>
    <div class="mobile-nav-wrapper">
        <div class="menu-icon">
            <button class="eos-c-btn btn-flat icon-only" data-menu-target="mobile-nav"><span></span></button>
        </div>
        <div class="branding">
            <a href="/" class="nav-item logo white"><img src="/images/brand/logos/logo_white.png" alt=""></a>
            <a href="/" class="nav-item logo colour"><img src="/images/brand/logos/logo.png" alt=""></a>
        </div>
    </div>
</nav>

<div class="menu" id="mobile-nav">
    <div class="menu-section">
        <a href="/" class="eos-c-btn btn-flat">Home</a>
        <a href="/about" class="eos-c-btn btn-flat">About</a>
        <a href="/services" class="eos-c-btn btn-flat">Services</a>
        <a href="/#approach" class="eos-c-btn btn-flat">Approach</a>
        <a href="/insights" class="eos-c-btn btn-flat">Insights</a>
        <a href="/#contact" class="eos-c-btn eos-c-btn--blue eos-c-btn--filled">Get in touch</a>
    </div>
</div>