<nav class="transparent">
    <div class="nav-wrapper">
        <div class="nav-left">
            <a href="/" class="nav-item logo"><img src="/images/logo_white.png" alt=""></a>
        </div>
        <div class="nav-centre"></div>
        <div class="nav-right">
            <a href="/#about" class="nav-item link">About</a>
            <a href="/#services" class="nav-item link">Services</a>
            <a href="/#approach" class="nav-item link">Approach</a>
            <a href="/#contact" class="nav-item btn btn-blue btn-filled on-dark glow-effect">Get in touch</a>
        </div>
    </div>
    <div class="mobile-nav-wrapper">
        <div class="menu-icon">
            <button id="menu"><i class="material-icons">menu</i></button>
        </div>
        <div class="mobile-nav">
            <div class="mobile-nav-links">
                <a href="#about" class="btn btn-filled btn-purple on-dark glow-effect">About</a>
                <a href="#services" class="btn btn-filled btn-purple on-dark glow-effect">Services</a>
                <a href="#approach" class="btn btn-filled btn-purple on-dark glow-effect">Approach</a>
                <a href="#contact" class="btn btn-filled btn-blue on-dark glow-effect">Get in touch</a>
            </div>
        </div>
        <div class="branding">
            <a href="/" class="nav-item logo"><img src="/images/logo_white.png" alt=""></a>
        </div>
    </div>
</nav>