footer {
    position: relative;
    color: var(--c-white);
    padding: 48px 0;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 12px 48px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: grid;
    grid-template-columns: 24px min-content;
    align-items: center;
    grid-gap: 6px;
    color: var(--c-white);
    margin-right: 12px;
}

.social-link img {
    max-height: var(--f-size-sml);
    max-width: 100%;
}

.social-link:last-of-type {
    margin-right: 0;
}

.copyright {
    font-size: var(--f-size-sml);
    word-spacing: 4px;
    text-align: center;
}

.footer-nav .link,
.footer-legal .link {
    color: var(--c-white);
    margin-right: 12px;
}

.footer-legal .link {
    font-size: var(--f-size-sml);
}

.footer-nav .link:last-of-type,
.footer-legal .link:last-of-type {
    margin-right: 0;
}

.footer-socials {
    display: flex;
}

@media screen and (max-width: 640px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-socials {
        justify-content: center;
    }
}