footer {
    position: relative;
    color: var(--c-white);
    padding: 72px 0 48px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    color: var(--c-white);
    width: calc(100% + 12px);
}

.social-link img {
    max-height: var(--f-size-sml);
    margin-right: 12px;
}

.copyright {
    font-size: var(--f-size-sml);
    word-spacing: 4px;
    text-align: center;
}

.footer-link {
    color: var(--c-white);
    margin-right: 12px;
}

.footer-nav,
.social-links {
    margin: 0 auto;
}