footer {
    position: relative;
    color: var(--c-white);
    padding: 72px 0 48px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 48px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: grid;
    grid-template-columns: 24px min-content;
    align-items: center;
    grid-gap: 6px;
    color: var(--c-white);
    margin-right: 12px;
}

.social-link img {
    max-height: var(--f-size-sml);
    max-width: 100%;
}

.copyright {
    font-size: var(--f-size-sml);
    word-spacing: 4px;
    text-align: center;
}

.footer-nav .link,
.footer-legal .link {
    color: var(--c-white);
    margin-right: 12px;
}

.footer-legal .link {
    font-size: var(--f-size-sml);
}

.footer-socials,
.footer-nav {
    margin-bottom: 12px;
}

.footer-socials {
    display: flex;
}