footer {
    position: relative;
    color: var(--c-white);
    padding: 72px 0 48px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 72px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    color: var(--c-white);
    width: fit-content;
}

.social-link img {
    width: 12px;
    margin-right: 12px;
}

.copyright {
    font-size: var(--f-size-sml);
}

.footer-link {
    color: var(--c-white);
    margin-right: 12px;
}

.legal .footer-link {
    font-size: var(--f-size-sml);
}

.footer-nav,
.social-links {
    margin-bottom: 12px;
}

@media screen and (max-width: 680px) {
    .footer-wrapper {
        display: block;
        margin: auto;
        width: fit-content;
        text-align: center;
    }
    .footer-left {
        margin-bottom: 24px;
    }
    .social-link {
        width: fit-content;
        margin: auto;
    }
}