<% include ./partials/head %>

<meta property="og:url" content="http://inastra.co/about">

<link rel="stylesheet" href="/stylesheets/about.css">
<script src="/javascripts/about.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>
<main>
    <section id="hero" class="hero">
        <div class="eos-container">
            <div class="section-header">
                <p class="section-name">About Us</p>
                <h1 class="section-title">Who We Are</h1>
                <hr class="section-underline">
            </div>
            <p class="section-text">Inastra was founded to deliver meaningful solutions to complex problems through transdisciplinary innovation, while equipping businesses with tools and methods that empower them to discover their own creativity.</p>
        </div>
    </section>
    <div class="wave-section">
        <section id="brand" class="side text-img top-wave">
            <div class="eos-container">
                <div class="section-img">
                    <img src="/images/brand/logos/icon.png" alt="">
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <p class="section-name">Brand</p>
                        <h2 class="section-title">Why Inastra</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">The name Inastra is deeply rooted in meaning; representing who we are, what we do and why we do it. Inastra is derived from the Greek word “άστρo” meaning star.</p>
                    <p class="section-text">To the naked eye stars are seen as white light, however that light is in fact a complete mixture of all of the wavelengths of the visible spectrum. This is how we see transdisciplinarity, a mixture of different disciplines and areas of knowledge fused together to create something new.</p>
                </div>
            </div>
            <div class="eos-container full-width">
                <p class="section-text">Humans have been using stars to navigate for millennia. This process of wayfinding takes explorers beyond the known, on journeys of discovery to new horizons using the skills and resources at hand. Only by having a clear North Star to guide direction could they succeed in exploring the unknown while staying true to the vision throughout.</p>
                <p class="section-text">The ancient Greeks used this navigation technique to become the master resource connectors of the Mediteraniean, exchanging knowledge as well as goods in order to create collective intelligence. Through this practice knowledge became an inherent source of value, even transactionally, which the Greeks were able to acquire and distribute.</p>
            </div>
        </section>
        <section id="values" class="option-list bottom-wave">
            <div class="eos-container">
                <div class="section-header align-centre">
                    <p class="section-name">Values</p>
                    <h2 class="section-title">What We Value</h2>
                    <hr class="section-underline">
                </div>
                <div class="section-content">
                    <button class="option eos-card active" data-value="knowledge">
                        <div class="value-img">
                            <img src="/images/values/knowledge.png" alt="">
                        </div>
                        <h3 class="option-title">Knowledge</h3>
                    </button>
                    <button class="option eos-card" data-value="sustainability">
                        <div class="value-img">
                            <img src="/images/values/sustainability.png" alt="">
                        </div>
                        <h3 class="option-title">Sustainability</h3>
                    </button>
                    <button class="option eos-card" data-value="curiosity">
                        <div class="value-img">
                            <img src="/images/values/curiosity.png" alt="">
                        </div>
                        <h3 class="option-title">Curiosity</h3>
                    </button>
                    <button class="option eos-card" data-value="collaboration">
                        <div class="value-img">
                            <img src="/images/values/collaboration.png" alt="">
                        </div>
                        <h3 class="option-title">Collaboration</h3>
                    </button>
                </div>
                <div class="values-description">
                    <p data-value="knowledge" class="active section-text">“The only thing I know for sure is that I know nothing at all, for sure.”There is more than one way of knowing, so there are always multiple ways to approach a problem, and one person will never be able to see all. We’re passionate about bringing different insights and perspectives together to gain a holistic understanding of problems. This can only be achieved through the intersection of a diversity of experiences. We acknowledge our biases and assumptions, appreciating what we don’t know just as much as what we do.</p>
                    <p data-value="sustainability" class="section-text">Give a man a fish, and you feed him for a day. Teach a man to fish, and you feed him for a lifetime. We’re not about dropping in and solving a surface problem, we bring our practices into your organisation so you are better equipped to overcome challenges in the future. We value sustainability across all our practices, from solutions that achieve lasting results to ensuring the wellbeing of our people.</p>
                    <p data-value="curiosity" class="section-text">The courage to ask why. It’s not in our DNA to accept the status quo just because “that’s the way it’s always been done”. Digging deeper and challenging assumptions is how we discover meaningful solutions to the root problem.</p>
                    <p data-value="collaboration" class="section-text">The whole is greater than the sum of its parts. We aren’t about cherry picking elements from different disciplines, we believe true collaboration can only come from fusing together core ways of thinking to create something new.</p>
                </div>
            </div>
        </section>
    </div>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>