<% include ./partials/head %>

<meta property="og:url" content="http://inastra.co/about">
<meta property="og:image" content="https://www.inastra.co/images/marketing/inastra_ad-img.jpg" />

<link rel="stylesheet" href="/stylesheets/about.css">
<script src="/javascripts/about.js"></script>

<% include ./partials/head-bottom %>
<% include ./partials/nav %>
<main>
    <section id="hero" class="hero">
        <div class="eos-container">
            <div class="section-header">
                <p class="section-name">About Us</p>
                <h1 class="section-title">Who We Are</h1>
                <hr class="section-underline">
            </div>
            <p class="section-text">Inastra was founded to deliver meaningful solutions to complex problems through transdisciplinary innovation, while equipping businesses with tools and methods that empower them to discover their own creativity. We combine proven methods with fresh perspectives from diverse knowledge bases to bring your business unique insights. Our team is passionate about not only helping you solve problems but giving you the tools and skills to unlock your creativity.</p>
        </div>
    </section>
    <div class="wave-section">
        <section id="brand" class="side text-img">
            <div class="eos-container">
                <div class="section-img">
                    <img src="/images/brand/logos/icon.png" alt="">
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <p class="section-name">Brand</p>
                        <h2 class="section-title">Why Inastra</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">The name Inastra is deeply rooted in meaning; representing who we are, what we do and why we do it. Inastra is derived from the Greek word “άστρo” meaning star.</p>
                    <p class="section-text">To the naked eye stars are seen as white light, however that light is in fact a complete mixture of all of the wavelengths of the visible spectrum. This is how we see transdisciplinarity, a mixture of different disciplines and areas of knowledge fused together to create something new.</p>
                </div>
            </div>
            <div class="eos-container full-width">
                <p class="section-text">Humans have been using stars to navigate for millennia. This process of wayfinding takes explorers beyond the known, on journeys of discovery to new horizons using the skills and resources at hand. Only by having a clear North Star to guide direction could they succeed in exploring the unknown while staying true to the vision throughout.</p>
                <p class="section-text">The ancient Greeks used this navigation technique to become the master resource connectors of the Mediteraniean, exchanging knowledge as well as goods in order to create collective intelligence. Through this practice knowledge became an inherent source of value, even transactionally, which the Greeks were able to acquire and distribute.</p>
            </div>
        </section>
    </div>
</main>

<% include ./partials/footer %>