<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/confirmed.css">
<script src="/javascripts/confirmed.js"></script>

<% include ./partials/head-bottom %>
<% include ./partials/nav %>
<main>
    <section class="hero">
        <div class="thank-you-wrapper">
            <h1>Thanks <span class="firstName"></span>!</h1>
            <p>We'll be in touch to talk more about how we can work together.</p>
            <a href="/" class="eos-btn eos-btn--filled eos-btn--blue">Back to Home</a>
        </div>
    </section>
</main>

<% include ./partials/footer %>