<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/confirmed.css">
<script src="/javascripts/confirmed.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>
<main>
  <section id="thank-you">
    <div class="thank-you-wrapper">
      <h1>Thanks <span class="firstName"></span>!</h1>
      <p>We'll be in touch to talk more about how we can work together.</p>
      <a href="/" class="btn btn-filled btn-blue" id="home-link">Back to Home</a>
    </div>
  </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>