<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/stylesheets/confirmed.css">

<% include ./partials/head-bottom %>
<% include ./components/nav %>
<main>
    <section id="thank-you">
        <div class="thank-you-wrapper">
            <h1>Thank you!</h1>
            <p>Thanks for getting in touch! We'll get back to you as soon as we can.</p>
            <a href="/" class="home-link link">Back to Home</a>
        </div>
    </section>
</main>
<% include ./components/footer %>