<% include ./partials/head %>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/javascripts/index.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero" class="particle-container">
        <div class="hero-wrapper fade-in">
            <div class="hero-content">
                <h1 class="hero-text">Solving complex problems through transdisciplinary innovation.</h1>
            </div>
        </div>
    </section>
    <section id="about" class="section">
        <div class="section-wrapper fade-in">
            <div class="section-header">
                <h2 class="section-title">A new perspective.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content">
                <p>Innova is a creative intelligence consultancy delivering meaningful solutions to complex problems through transdisciplinary innovation. With experience across a multitude of industries, we offer unique perspectives that solve your specific problems.</p>
            </div>
        </div>
    </section>
    <section id="new" class="section">
        <div class="section-wrapper fade-in">
            <div class="section-header">
                <h2 class="section-title">What got you here, won't get you there.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content">
                <p>Innova is a creative intelligence consultancy delivering meaningful solutions to complex problems through transdisciplinary innovation. With experience across a multitude of industries, we offer unique perspectives that solve your specific problems.</p>
            </div>
        </div>
    </section>
    <section id="services" class="section">
        <div class="section-wrapper fade-in">
            <div class="section-header">
                <h2 class="section-title">No two problems are the same.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content">
                <p>Innova offers a diverse range of services tailored to your needs. No two problems are the same, so no two processes for solving the problem will be the same. Together, we can work to find the right process to deliver the best outcome.</p>
            </div>
        </div>
    </section>
    <section id="contact" class="section">
        <div class="section-wrapper fade-in">
            <div class="section-header">
                <h2 class="section-title">Let's get started.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content">
                <form action="/send/contact" method="GET" id="contact" autocomplete="off">
                    <label for="name" class="input-label">Name:</label>
                    <input type="text" class="form-input fade-in" id="name" name="name" placeholder="Full Name">
                    <label for="email" class="input-label">Email:</label>
                    <input type="email" class="form-input fade-in" id="email" name="email" placeholder="Email">
                    <label for="phone" class="input-label">Phone:</label>
                    <input type="tel" class="form-input fade-in" id="phone" name="phone" placeholder="Phone">
                    <textarea class="form-input fade-in" name="message" id="message" rows="4" placeholder="Message"></textarea>
                    <button type="submit" class="fade-in" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>