<% include ./partials/head %>

<meta name="description" content="Inastra is a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through transdisciplinary innovation, the cross-pollination of processes between knowledge-bases to form new ways of thinking.">

<!-- <meta property="og:image" content=""> -->
<meta property="og:url" content="http://inastra.co">
<meta property="og:title" content="Inastra | Transdisciplinary Innovation">
<meta property="og:description" content="Inastra is a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through transdisciplinary innovation, the cross-pollination of processes between knowledge-bases to form new ways of thinking.">

<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/javascripts/index.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero" class="particle-container">
        <div class="container">
            <div class="hero-img">
                <img src="/images/brand/logos/icon.png" alt="">
            </div>
            <div class="hero-content">
                <h1 class="hero-text">Creativity is not a talent, it's a way of thinking.</h1>
                <a href="#contact" id="hero-cta" class="btn btn-blue btn-filled on-dark">Unlock your creativity</a>
            </div>
        </div>
        <span id="scroll-indicator" class="material-icons">expand_more</span>
    </section>
    <section id="tagline" class="feature">
        <div class="container">
            <p class="section-text">Inastra uses <b>transdisciplinary innovation</b> to <b>supercharge your creativity</b> and deliver <b>meaningful solutions</b> to complex problems.</p>
        </div>
    </section>
    <section id="about" class="side">
        <div class="container">
            <div class="section-img">
                <img src="/images/about.png" alt="">
            </div>
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">About</p>
                    <h2 class="section-title">A new perspective</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">We combine proven methods with fresh perspectives from diverse knowledge bases to bring your business unique insights.</p>
                <p class="section-text">Our team is passionate about not only helping you solve problems but giving you the tools and skills to unlock your creativity.</p>
                <a href="#" class="btn section-btn">Learn more</a>
            </div>
        </div>
    </section>
    <section id="services" class="option-list">
        <div class="container">
            <div class="section-header">
                <p class="section-name">Services</p>
                <h2 class="section-title">Services</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content">
                <a class="option" href="#">
                    <img src="/images/services/service1.png" alt="" class="option-img">
                    <h5 class="option-title">Creativity Workshop</h5>
                </a>
                <a class="option" href="#">
                    <img src="/images/services/service2.png" alt="" class="option-img">
                    <h5 class="option-title">Process Facilitation</h5>
                </a>
                <a class="option" href="#">
                    <img src="/images/services/service3.png" alt="" class="option-img">
                    <h5 class="option-title">Solution Design</h5>
                </a>
            </div>
            <a href="#" class="btn section-btn">Learn more</a>
        </div>
    </section>
    <section id="approach" class="side">
        <div class="container">
            <div class="section-img">
                <img src="/images/transdisciplinary.png" alt="">
            </div>
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Approach</p>
                    <h2 class="section-title">Transdisciplinarity</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">When we collaborate with a range of different disciplines to continuously evolve and combine our interactions, new ways of thinking emerge.</p>
                <p class="section-text">We call this <b>transdisciplinary innovation</b>, and our team is uniquely trained in this approach to problem solving.</p>
                <a href="#" class="btn section-btn">Learn more</a>
            </div>
        </div>
    </section>
    <section id="words" class="feature">
        <div class="container">
            <p class="section-text">You are the expert in your field.</p>
            <p class="section-text">We are the experts in meaningful change.</p>
            <p class="section-text">Let's bring the two together and create what comes next.</p>
        </div>
    </section>
    <section id="contact" class="side">
        <div class="container">
            <div class="section-header">
                <p class="section-name">Contact</p>
                <h2 class="section-title">Let's get started.</h2>
                <hr class="section-underline">
                <p class="section-info">We are excited by unique challenges and people who are eager to drive change. What could we create together?</p>
            </div>
            <div class="section-content">
                <form action="/api/contact-form" method="POST" id="contact" class="contact">
                    <div class="item-wrapper inner-label input-purple glow-effect validate-fullName required" id="name">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-input" id="name" name="name">
                    </div>
                    <div class="item-wrapper inner-label input-purple glow-effect validate-email required" id="email">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-input" id="email" name="email">
                    </div>
                    <div class="item-wrapper inner-label input-purple glow-effect required" id="company">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-input" id="company" name="company">
                    </div>
                    <div class="item-wrapper inner-label input-purple glow-effect validate-mobileNumber required" id="phone">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-input" id="phone" name="phone">
                    </div>
                    <div class="item-wrapper inner-label input-purple glow-effect" id="message">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-input" name="message" id="message" rows="4"></textarea>
                    </div>
                    <button type="submit" id="submit" class="btn btn-filled btn-purple on-dark glow-effect">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>