<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="element">
        </nav>
    </header>

    <section id="hero" class="element">
        <div class="hero-wrapper">
            <span class="hero-title element"></span>
            <div class="hero-content">
                <div class="hero-img element"></div>
                <div class="hero-text element"></div>
            </div>
        </div>
    </section>

</body>
</html>