<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/javascripts/index.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero">
        <div class="hero-wrapper">
            <h1 class="hero-text">Solving complex problems through transdisciplinary innovation</h1>
        </div>
    </section>
    <section id="about" class="section">
        <div class="section-wrapper">
            <div class="section-title">
                <h2>About</h2>
                <hr>
            </div>
            <div class="section-content">
                <p>Innova is a creative intelligence consultancy delivering meaningful solutions to complex problems through transdisciplinary innovation. With experience across a multitude of industries, we offer unique perspectives that solve your specific problems.</p>
                <br>
                <p>As businesses navigate the increasing rate of change and complexity of systems indicative of this uncertain climate, new ways of thinking and doing are essential to not only thriving, but surviving.</p>
            </div>
        </div>
    </section>
    <section id="services" class="section">
        <div class="section-wrapper">
            <div class="section-title">
                <h2>Services</h2>
                <hr>
            </div>
            <div class="section-content">
                <p>Innova offers a diverse range of services tailored to your needs. No two problems are the same, so no two processes for solving the problem will be the same. Together, we can work to find the right process to deliver the best outcome.</p>
            </div>
        </div>
    </section>
    <section id="contact" class="section">
        <div class="section-wrapper">
            <div class="section-title">
                <h2>Contact</h2>
                <hr>
            </div>
            <div class="section-content">
                <form action="/send/contact" method="GET" id="contact">
                    <label for="name" class="input-label">Name:</label>
                    <input type="text" class="form-input" id="name" name="name" placeholder="Full Name">
                    <label for="email" class="input-label">Email:</label>
                    <input type="email" class="form-input" id="email" name="email" placeholder="Email">
                    <label for="phone" class="input-label">Phone:</label>
                    <input type="tel" class="form-input" id="phone" name="phone" placeholder="Phone">
                    <textarea class="form-input" name="message" id="message" rows="4" placeholder="Message"></textarea>
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

<% include ./components/footer %>