<% include ./partials/head %>

<meta name="description" content="Inastra is a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through transdisciplinary innovation, the cross-pollination of processes between knowledge-bases to form new ways of thinking.">

<!-- <meta property="og:image" content=""> -->
<meta property="og:url" content="http://inastra.co">
<meta property="og:title" content="Inastra | Transdisciplinary Innovation">
<meta property="og:description" content="Inastra is a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through transdisciplinary innovation, the cross-pollination of processes between knowledge-bases to form new ways of thinking.">

<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/javascripts/index.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero" class="particle-container">
        <div class="hero-wrapper fade-in fade-up">
            <div class="hero-content">
                <h1 class="hero-text glow-effect">Creativity is not a talent,<br>it’s a way of thinking.</h1>
                <a href="#contact" id="hero-cta" class="btn btn-primary btn-filled on-dark glow-effect">Discover your creativity</a>
            </div>
        </div>
        <a href="#about" class="scroll-indicator glow-effect fade-in fade-up"><span class="material-icons">expand_more</span><p class="scroll-text">Scroll for more</p></a>
    </section>
    <section id="about" class="section fade-in block">
        <div class="section-wrapper">
            <div class="section-header fade-in fade-right">
                <p class="section-name">About</p>
                <h2 class="section-title">A new perspective.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content fade-in fade-left">
                <p>We are a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through <i>transdisciplinary innovation</i>, the cross-pollination of processes between knowledge-bases to form new ways of thinking.</p>
                <br>
                <p>As businesses navigate the increasing complexity of systems indicative of an ever-increasing rate of change, new ways of thinking and doing are essential to not only thriving, but surviving.</p>
            </div>
        </div>
    </section>
    <section id="services" class="section fade-in">
        <div class="section-wrapper">
            <div class="section-header fade-in fade-right">
                <p class="section-name">Services</p>
                <h2 class="section-title">Meaningful solutions.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content fade-in fade-left">
                <p>We're experts in:</p>
                <ul class="expertise">
                    <li class="expertise-item"><span class="material-icons">chevron_right</span>Creative processes</li>
                    <li class="expertise-item"><span class="material-icons">chevron_right</span>Problem solving</li>
                    <li class="expertise-item"><span class="material-icons">chevron_right</span>Facilitation</li>
                    <li class="expertise-item"><span class="material-icons">chevron_right</span>Integrating knowledges</li>
                    <li class="expertise-item"><span class="material-icons">chevron_right</span>Navigating complexity</li>
                </ul>
                <p>Because no two problems are the same, no two processes for solving a problem will be the same either. Our tailored service offerings are designed to be flexible and adaptable to meet your unique needs, meaningfully solving complex problems quickly and effectively.</p>
            </div>
        </div>
    </section>
    <section id="approach" class="section fade-in block">
        <div class="section-wrapper">
            <div class="section-header fade-in fade-right">
                <p class="section-name">Approach</p>
                <h2 class="section-title">Transdisciplinarity.</h2>
                <hr class="section-underline">
            </div>
            <div class="section-content fade-in fade-left">
                <p>Transdisciplinarity occurs when processes are shared across knowledge-bases to inform a more holistic approach, achieving a unity of knowledge that transcends disciplinary boundaries.</p>
                <br>
                <p>This is how we solve complex problems.</p>
            </div>
        </div>
    </section>
    <section id="contact" class="section fade-in">
        <div class="section-wrapper">
            <div class="section-header fade-in fade-right">
                <p class="section-name">Contact</p>
                <h2 class="section-title">Let's get started.</h2>
                <hr class="section-underline">
                <p class="section-info">We are excited by unique challenges and people who are eager to drive change. What could we create together?</p>
            </div>
            <div class="section-content fade-in fade-left">
                <form action="/api/contact-form" method="POST" id="contact" class="inner-label">
                    <div class="item-wrapper input-filled input-purple glow-effect validate-fullName required" id="name">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-input" id="name" name="name">
                    </div>
                    <div class="item-wrapper input-filled input-purple glow-effect validate-email required" id="email">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-input" id="email" name="email">
                    </div>
                    <div class="item-wrapper input-filled input-purple glow-effect" id="company">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-input" id="company" name="company">
                    </div>
                    <div class="item-wrapper input-filled input-purple glow-effect" id="phone">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-input" id="phone" name="phone">
                    </div>
                    <div class="item-wrapper input-filled input-purple glow-effect" id="message">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-input" name="message" id="message" rows="4"></textarea>
                    </div>
                    <button type="submit" id="submit" class="btn btn-filled btn-purple on-dark glow-effect">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>