<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/javascripts/index.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero">
        <div class="hero-wrapper fade-in">
            <div class="hero-content">
                <h1 class="hero-text">Solving complex problems through transdisciplinary innovation.</h1>
                <a href="#contact" class="hero-button">Let's get started</a>
            </div>
            <div class="hero-img">
                <img src="/images/graphics/idea.svg">
            </div>
        </div>
    </section>
    <section id="about" class="section">
        <div class="section-wrapper fade-in">
            <div class="section-img">
                <img src="/images/graphics/flying.svg">
            </div>
            <div class="section-content">
                <h2 class="section-title">About</h2>
                <hr class="section-underline">
                <div class="section-text">
                    <p>Innova is a creative intelligence consultancy delivering meaningful solutions to complex problems through transdisciplinary innovation. With experience across a multitude of industries, we offer unique perspectives that solve your specific problems.</p>
                    <br>
                    <p>As businesses navigate the increasing rate of change and complexity of systems indicative of this uncertain climate, new ways of thinking and doing are essential to not only thriving, but surviving.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="section">
        <div class="section-wrapper fade-in">
            <div class="section-content">
                <h2 class="section-title">Services</h2>
                <hr class="section-underline">
                <div class="section-text">
                    <p>Innova offers a diverse range of services tailored to your needs. No two problems are the same, so no two processes for solving the problem will be the same. Together, we can work to find the right process to deliver the best outcome.</p>
                </div>
            </div>
            <div class="section-img">
                <img src="/images/graphics/thinking.svg">
            </div>
        </div>
    </section>
    <section id="contact" class="section">
        <div class="section-wrapper">
            <div class="section-content">
                <h2 class="section-title fade-in">Contact</h2>
                <hr class="section-underline fade-in">
                <div class="section-text">
                    <form action="/send/contact" method="GET" id="contact">
                        <label for="name" class="input-label">Name:</label>
                        <input type="text" class="form-input fade-in" id="name" name="name" placeholder="Full Name">
                        <label for="email" class="input-label">Email:</label>
                        <input type="email" class="form-input fade-in" id="email" name="email" placeholder="Email">
                        <label for="phone" class="input-label">Phone:</label>
                        <input type="tel" class="form-input fade-in" id="phone" name="phone" placeholder="Phone">
                        <textarea class="form-input fade-in" name="message" id="message" rows="4" placeholder="Message"></textarea>
                        <button type="submit" class="fade-in" id="submit">Submit</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </section>
</main>

<% include ./components/footer %>