<% include ./partials/head %>

<meta property="og:url" content="https://www.inastra.co/services">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ./partials/head-bottom %>
<% include ./partials/nav %>
<main>
    <section id="workshops" class="hero">
        <div class="eos-container">
            <div class="section-header">
                <p class="section-name">Services</p>
                <h1 class="section-title">Workshops</h1>
                <hr class="section-underline">
            </div>
            <p class="section-text">Our workshops focus on building the capabilities of teams so they’re better able to creatively solve problems and capitalise on opportunities. We tailor each engagement to perfectly meet and exceed the specific outcomes each team requires. In our experience, businesses benefit most from workshops built around two key questions.</p>
        </div>
    </section>
    <div class="wave-section">
        <section id="design-sprint" class="side img-text">
            <div class="eos-container">
                <div class="section-img">
                    <img src="/images/services/project-specific.png" alt="">
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <p class="section-name">Workshop</p>
                        <h2 class="section-title">Do you have a specific problem you need to overcome?</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">Engage your team to approach a specific project phase in a whole new way. Establish ways of working in the project kick off, challenge assumptions while defining the problem, or introduce creative frameworks to supercharge the ideation process.</p>
                </div>
            </div>
        </section>
        <section id="empower-creativity" class="side text-img">
            <div class="eos-container">
                <div class="section-img">
                    <img src="/images/services/creative-workshop.png" alt="">
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <p class="section-name">Workshop</p>
                        <h2 class="section-title">Do you want to equip your team with creative tools and the confidence to implement them?</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">Build the creative capabilities of your team. Deliver a deviation in routine that primes them to continuously question preconceptions and understand a variety of perspectives. Equip them with tools, methodologies and frameworks that empower them to utilise creative practices throughout everyday actions.</p>
                </div>
            </div>
        </section>
    </div>
    <section id="consulting" class="hero">
        <div class="eos-container">
            <div class="section-header">
                <p class="section-name">Services</p>
                <h1 class="section-title">Consulting</h1>
                <hr class="section-underline">
            </div>
        </div>
    </section>
    <div class="wave-section">
        <section id="process-facilitation" class="side img-text">
            <div class="eos-container">
                <div class="section-img">
                    <img src="/images/services/process-facilitation.png" alt="">
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <p class="section-name">Consulting</p>
                        <h2 class="section-title">Process Facilitation</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">You’re the expert in your field, we’re the experts in creative change. Through process facilitation we bring the two together and create what comes next. We work alongside your team to guide them through a tailored creative process that involves deep diving into the problem space and exploring a number of exciting solutions before progressing to concept validation, testing and implementation.</p>
                </div>
            </div>
        </section>
        <section id="solution-design" class="side text-img">
            <div class="eos-container">
                <div class="section-img">
                    <img src="/images/services/solution-design.png" alt="">
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <p class="section-name">Consulting</p>
                        <h2 class="section-title">Solution Design</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">No matter the business challenge, we’ll assemble a team of creative intelligence practitioners that are best equipped to help you solve it. You give us the brief, we take it away, unpack it, explore possibilities and test ideas to give you solutions.</p>
                </div>
            </div>
        </section>
    </div>
</main>

<% include ./partials/footer %>