<% include ./partials/head %>

<meta property="og:url" content="http://inastra.co/services">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>
<main>
    <section id="hero">
        <div class="container">
            <div class="section-header">
                <p class="section-name">Services</p>
                <h1 class="section-title">What We Do</h1>
                <hr class="section-underline">
            </div>
            <p class="section-text">Inastra offers a diverse range of services tailored to your needs. No two problems are the same, so no two processes for solving the problem will be the same. Together, we can work to find the right process to deliver the best outcome.</p>
        </div>
    </section>
    <section id="creativity-workshop" class="side img-text section">
        <div class="container">
            <div class="section-img">
                <img src="/images/services/service1.png" alt="">
            </div>
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Services</p>
                    <h2 class="section-title">Creativity Workshop</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Our workshops focus on shifting your team into a creative mindset, empowering them to stay curious, embrace complexity and problem solve through play. We explore processes, methodologies and blockers to embed creativity into your BAU. We can tailor workshops to address a specific problem for your team or create open ended workshops.</p>
            </div>
        </div>
    </section>
    <section id="process-facilitation" class="side text-img section">
        <div class="container">
            <div class="section-img">
                <img src="/images/services/service2.png" alt="">
            </div>
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Services</p>
                    <h2 class="section-title">Process Facilitation</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">You’re the expert in your field, we’re the experts in creative change. Through process facilitation we bring the two together and create what comes next. We work alongside your team to guide them through a tailored creative process that involves deep diving into the problem space and exploring a number of exciting solutions before progressing to concept validation, testing and implementation.</p>
            </div>
        </div>
    </section>
    <section id="solution-design" class="side img-text section">
        <div class="container">
            <div class="section-img">
                <img src="/images/services/service3.png" alt="">
            </div>
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Services</p>
                    <h2 class="section-title">Solution Design</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">No matter the business challenge, we’ll assemble a team of creative intelligence practitioners that are best equipped to help you solve it. You give us the brief, we take it away, unpack it, explore possibilities and test ideas to give you solutions.</p>
            </div>
        </div>
    </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>