/* MASTER */
.section-header {
    text-align: center;
}

.section-header .section-underline {
    margin-left: auto;
    margin-right: auto;
}

/* HERO */
section#hero {
    min-height: 48vh;
    display: flex;
}

section#hero .container {
    color: var(--c-white);
}

/* BRAND */
section#brand {
    display: block;
}

section#brand .section-header {
    text-align: left;
}

section#brand .section-header .section-underline {
    margin-left: 0;
    margin-right: 0;
}

section#brand .full-width {
    margin-top: var(--f-size-reg);
    display: block  ;
}

/* VALUES */
.values-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--f-size-reg);
}

.value {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: var(--f-size-reg);
    padding: var(--f-size-reg);
    border-radius: 6px;
}

.value.active {
    box-shadow: 0 2px 6px var(--c-base-40);
}

.value-title {
    text-align: center;
    font-size: var(--f-size-5);
}

.value.active .value-title {
    color: var(--c-purple);
    font-weight: bold;
}

.value-img {
    height: 100%;
    display: flex;
    align-items: center;
}

.values-description {
    display: grid;
    margin-top: var(--f-size-reg);
}

.values-description p {
    opacity: 0;
    grid-row: 1/2;
    grid-column: 1/2;
    transition: opacity 200ms ease;
}

.values-description p.active {
    opacity: 1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#hero {
        margin-top: var(--nav-height);
    }
    section#hero .container {
        display: block;
    }
    section#hero .hero-img {
        display: none;
    }
    .section-header {
        text-align: left;
    }
    .section-header .section-underline {
        margin-left: 0;
        margin-right: 0;
    }
    section#brand .section-img {
        display: none;
    }
    .values-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .value {
        grid-template-rows: 1fr ;
    }
}