/* MASTER */
section#title,
section#cta {
    background: transparent;
    color: var(--c-white);
}

section:not(#title):not(#cta) {
    background: var(--c-white);
    color: var(--c-base);
}

/* TITLE */
section#title {
    padding: 12vh 0;
    text-align: center;
}

section#title h1 {
    font-size: var(--f-size-lrg);
}

/* SUBTITLE */
section#subtitle::before {
    content: '';
    position: absolute;
    left: 0;
    height: var(--wave-height);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: calc(var(--wave-height) * -1);
    background-image: url('/images/wave-1.png');
}

section#subtitle {
    padding: calc(6vh - (var(--wave-height)/2)) 0 6vh;
    margin-top: var(--wave-height);
}

section#subtitle .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4vw;
}

section#subtitle .client-logo a {
    color: var(--c-base);
}

section#subtitle .client-logo img {
    max-width: 100%;
}

/* CONTENT */
section#content {
    background-color: var(--c-purple-light-90) !important;
    padding: 6vh 0;
}

section#content .container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 4vw;
    grid-row-gap: 48px;
}

section#content .content-body p:not(:last-child) {
    margin-bottom: var(--f-size-reg);
}

/* TESTIMONIAL */
section#testimonial::after {
    content: '';
    position: absolute;
    left: 0;
    height: var(--wave-height);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: calc(var(--wave-height) * -1);
    transform: scaleY(-1) scaleX(-1);
    background-image: url('/images/wave-2.png');
}

section#testimonial {
    margin-bottom: var(--wave-height);
    padding: 6vh 0 calc(6vh - (var(--wave-height)/2));
}

section#testimonial .container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

section#testimonial .container::before,
section#testimonial .container::after {
    font-size: var(--f-size-lrg);
    color: var(--c-purple);
}

section#testimonial .container::before {
    content: '\201C';
}

section#testimonial .container::after {
    content: '\201D';
    text-align: right;
}

section#testimonial b {
    color: var(--c-purple);
}

.testimonial-details {
    text-align: right;
    margin-top: var(--f-size-reg);
}

/* CTA */

/* MEDIA QUERIES */
@media screen and (max-width: 680px) {
    section#subtitle .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    section#subtitle .client-logo {
        max-width: 40%;
        margin: 0 auto 48px;
    }
    section#content .container {
        grid-template-columns: 1fr;
        grid-row-gap: 10px 20px;
    }
    section#content .content-header {
        margin-bottom: -48px;
    }
    section#testimonial .container {
        grid-template-columns: 1fr;
    }
    section#testimonial .container::after {
        content: none;
    }
}