section#thank-you {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin: 0;
}

section#thank-you::after {
    content: none;
}

.thank-you-wrapper {
    margin: auto;
    width: 90%;
    max-width: 720px;
    text-align: center;
    color: var(--c-white);
}

.thank-you-wrapper p {
    margin: 12px 0 24px;
}

#home-link {
    margin: 24px auto;
}