section.hero:first-of-type {
    min-height: calc(100vh - var(--nav-height));
    padding: 0;
}

.thank-you-wrapper {
    margin: auto;
    text-align: center;
}

.thank-you-wrapper p {
    margin: var(--spacing-s) 0 var(--spacing-l);
}

.thank-you-wrapper .eos-btn {
    margin: var(--spacing-l) auto;
}