html {
    scroll-behavior: smooth;
}

section {
    z-index: 1;
    position: relative;
}

/* HERO */
section#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 12vmax);
    padding: 6vmax 0;
}

.hero-wrapper {
    width: 90%;
    max-width: 1440px;
    position: relative;
    z-index: 1;
}

.hero-content {
    width: 72%;
}

.hero-text {
    font-size: calc(var(--f-size-0) + 1vw);
    font-family: var(--f-title);
    font-weight: 900;
    -webkit-text-stroke: 1px var(--c-primary);
    -webkit-text-fill-color: transparent;
}

/* SECTIONS */
.section {
    color: var(--c-white);
    display: flex;
    align-items: center;
    padding: 180px 0;
}

.block {
    background-color: var(--c-white);
    color: var(--c-secondary);
}

.block::before,
.block::after {
    content: '';
    position: absolute;
    left: 0;
    height: 72px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.block::before {
    top: -72px;
}

.block::after {
    bottom: -72px;
    transform: scaleY(-1) scaleX(-1);
}

section.block#about::before {
    background-image: url('/images/wave-1.png');
}

section.block#about::after {
    background-image: url('/images/wave-2.png');
}

section.block#approach::before {
    background-image: url('/images/wave-3.png');
}

section.block#approach::after {
    background-image: url('/images/wave-4.png');
}

.section-wrapper {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 360px minmax(auto, 640px);
    grid-gap: 4vw;
    justify-content: space-between;
}

.section-title {
    font-family: var(--f-title);
    margin: 12px 0 24px;
}

.section-underline {
    border: none;
    background-color: var(--c-primary);
    height: 2px;
    width: 72px;
    margin: 0;
}

/* expertise */
ul.expertise {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 6px;
}

li.expertise-item {
    display: flex;
    align-items: center;
}

/* form */
form#contact {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
}

.form-input {
    border: none;
    background-color: var(--c-purple-20);
    color: var(--c-white);
    font-size: var(--f-size-reg);
    padding: 12px;
    transition: background-color 240ms ease, opacity 1200ms ease, transform 800ms ease;
}

.form-input::placeholder {
    color: var(--c-white-60);
}

.form-input:focus,
button#submit:focus {
    background-color: var(--c-purple-90);
    outline: none;
}

.input-label {
    display: none;
}

textarea.form-input {
    resize: vertical;
}

button#submit {
    padding: 12px;
    width: fit-content;
    font-size: var(--f-size-reg);
    background-color: var(--c-purple-20);
    color: var(--c-white);
    border: none;
    transition: background-color 240ms ease, opacity 1200ms ease, transform 800ms ease;
}

button#submit:hover {
    cursor: pointer;
    background-color: var(--c-purple-90);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .hero-break {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .hero-content {
        width: 100%;
    }
    .hero-text {
        hyphens: auto;
        font-size:calc(var(--f-size-5) + 8vw);
    }
    .section-wrapper {
        display: block;
    }
    .section-header {
        margin-bottom: 24px;
    }
    .fade-in {
        opacity: 1;
        transform: translateY(0);
    }
}