nav.transparent .nav-wrapper .logo.white {
    display: none;
}

nav.transparent .logo.bnw-white {
    display: block;
}

/* HERO */
section#hero {
    min-height: 48vh;
    padding-bottom: var(--spacing-xl);
}

section#hero .eos-container {
    display: grid;
    grid-template-columns: 36% 52%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    color: var(--c-blue-500);
    margin-bottom: var(--spacing-xl);
}

#hero-cta {
    font-size: var(--f-size-5);
}

/* SECTIONS */
section:not(:first-of-type) {
    padding: calc(var(--nav-height) + 2vh) 0;
}

/* CONTACT */
/* section#contact {
    color: var(--c-white);
    background-color: transparent;
    margin-bottom: 0;
} */

/* section#contact::after {
    content: none;
} */

section#contact .eos-container {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

button#submit {
    margin-top: 18px;
}

/* button#submit:focus {
    box-shadow: 0 0 0 2px var(--c-white);
} */

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#hero .eos-container {
        display: block;
    }
    section#hero .hero-img {
        display: none;
    }
    section#hero .hero-text {
        font-size: var(--f-size-l);
        text-align: center;
    }
    section#hero #hero-cta {
        margin: 48px auto;
        font-size: var(--f-size-5);
    }
    section#contact .eos-container {
        grid-template-columns: 1fr;
    }
}