/* HERO */
section#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(68vh - (2 * 6vh));
    padding: 6vh 0;
    position: relative;
}

section#hero .container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 36% 52%;
    justify-content: space-between;
    align-items: center;
}

.hero-img img {
    max-width: 100%;
}

.hero-text {
    font-family: var(--f-title);
    font-size: var(--f-size-1);
    font-weight: 500;
    color: var(--c-blue);
}

#hero-cta {
    margin: 48px 0;
    font-size: var(--f-size-5);
}

#hero-cta:focus {
    box-shadow: 0 0 0 2px var(--c-white);
}

@keyframes scrollIndicator {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    33% {
        transform: translateY(-12px);
        opacity: 1;
    }
    66% {
        transform: translateY(12px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

@-webkit-keyframes scrollIndicator {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    33% {
        transform: translateY(-12px);
        opacity: 1;
    }
    66% {
        transform: translateY(12px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

@-moz-keyframes scrollIndicator {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    33% {
        transform: translateY(-12px);
        opacity: 1;
    }
    66% {
        transform: translateY(12px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

#scroll-indicator {
    opacity: 0;
    position: absolute;
    bottom: 8vh;
    left: 50%;
    margin-left: -24px;
    color: var(--c-blue);
    width: 48px;
    height: 48px;
            animation: scrollIndicator 3s infinite ease;
         -o-animation: scrollIndicator 3s infinite ease;
       -moz-animation: scrollIndicator 3s infinite ease;
    -webkit-animation: scrollIndicator 3s infinite ease;
    pointer-events: none;
    font-size: var(--f-size-1);
}

/* SECTIONS */
section:not(:first-of-type):not(:last-of-type) {
    color: var(--c-base);
    background: var(--c-white);
    display: flex;
    align-items: center;
    padding: calc((var(--nav-height) + 24px) + 2vh) 0;
}

section:nth-of-type(3),
section:nth-of-type(5) {
    background-color: var(--c-purple-light-90) !important;
}

section::before,
section::after {
    width: 100%;
    position: absolute;
    height: var(--wave-height);
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section:nth-of-type(2)::before {
    content: '';
    top: calc(var(--wave-height) * -1);
    background-image: url('/images/wave-1.png');
}

section:nth-of-type(2) {
    margin-top: var(--wave-height);
}

section:nth-last-of-type(2) {
    margin-bottom: var(--wave-height);
}

section:nth-last-of-type(2)::after {
    content: '';
    background-image: url('/images/wave-2.png');
    bottom: calc(var(--wave-height) * -1);
    transform: scaleY(-1) scaleX(-1);
}

section img {
    max-width: 100%;
}

.section-title {
    font-family: var(--f-title);
    margin: 12px 0 18px;
}

.section-underline {
    border: none;
    background-color: var(--c-blue);
    height: 2px;
    width: 72px;
    margin: 0 0 18px;
}

.section-btn {
    margin: 18px 0 0;
}

.section-content .section-text {
    font-size: var(--f-size-5);
    margin-bottom: var(--f-size-5);
}

.section-content .section-text:last-of-type {
    margin-bottom: 0;
}

/* FEATURE */
section.feature .section-text {
    font-size: var(--f-size-1);
    text-align: center;
    margin: 0 auto var(--f-size-3);
    font-family: var(--f-title);
    color: var(--c-base);
}

section.feature .section-text:last-of-type {
    margin-bottom: 0;
}

section.feature .section-text b {
    font-weight: bold;
    color: var(--c-purple);
}

/* SIDE */
section.side .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6vw;
}

/* OPTION LIST */
section.option-list .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
}

.option-list .section-header {
    text-align: center;
}

.option-list .section-underline {
    margin: 0 auto 18px;
}

.option-list .section-btn {
    margin: 18px auto 0;
}

.option {
    padding: 24px;
    border-radius: 4px;
    transition: all 200ms ease;
}

.option:hover {
    box-shadow: 0 0 8px var(--c-base-20);
    cursor: pointer;
}

.option-title {
    text-align: center;
    font-family: var(--f-title);
    margin-top: var(--f-size-reg);
    color: var(--c-base);
}

/* CONTACT */
section#contact {
    color: var(--c-white);
    display: flex;
    align-items: center;
    padding: calc((var(--nav-height) + 24px) + 2vh) 0;
}

button#submit {
    margin-top: 18px;
}

button#submit:focus {
    box-shadow: 0 0 0 2px var(--c-white);
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#hero .container {
        display: block;
    }
    section#hero .hero-text {
        font-size: var(--f-size-lrg);
        text-align: center;
    }
    section#hero .hero-img {
        display: none;
    }
    section#hero #hero-cta {
        margin: 48px auto;
        font-size: var(--f-size-5);
    }
    section.side .container,
    section.option-list .section-content {
        grid-template-columns: 1fr;
        grid-gap: 4vh;
    }
    section.side .section-img {
        order: 2;
    }
    .option-list .section-header {
        text-align: left;
    }

    .option-list .section-underline {
        margin: 0 0 18px;
    }
}