nav.transparent .nav-wrapper .logo.white {
    display: none;
}

nav.transparent .logo.bnw-white {
    display: block;
}

/* HERO */
section#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(68vh - (2 * 6vh));
    padding: 6vh 0;
}

section#hero .container {
    display: grid;
    grid-template-columns: 36% 52%;
    justify-content: space-between;
    align-items: center;
}

.hero-img img {
    max-width: 100%;
}

.hero-text {
    font-weight: 500;
    color: var(--c-blue);
    font-family: var(--f-body);
}

#hero-cta {
    margin: 48px 0 0;
    font-size: var(--f-size-5);
}

#hero-cta:focus {
    box-shadow: 0 0 0 2px var(--c-white);
}

@keyframes scrollIndicator {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    33% {
        transform: translateY(-12px);
        opacity: 1;
    }
    66% {
        transform: translateY(12px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

@-webkit-keyframes scrollIndicator {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    33% {
        transform: translateY(-12px);
        opacity: 1;
    }
    66% {
        transform: translateY(12px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

@-moz-keyframes scrollIndicator {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    33% {
        transform: translateY(-12px);
        opacity: 1;
    }
    66% {
        transform: translateY(12px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

#scroll-indicator {
    opacity: 0;
    position: absolute;
    bottom: 8vh;
    left: 50%;
    margin-left: -24px;
    color: var(--c-blue);
    width: 48px;
    height: 48px;
            animation: scrollIndicator 3s infinite ease;
         -o-animation: scrollIndicator 3s infinite ease;
       -moz-animation: scrollIndicator 3s infinite ease;
    -webkit-animation: scrollIndicator 3s infinite ease;
    pointer-events: none;
    font-size: var(--f-size-1);
}

/* SECTIONS */
section:nth-last-of-type(2) {
    margin-bottom: var(--wave-height);
}

section:nth-last-of-type(2)::after {
    content: '';
    background-image: url('/images/wave-2.png');
    bottom: calc(var(--wave-height) * -1);
    transform: scaleY(-1) scaleX(-1);
}

/* CONTACT */
section#contact {
    color: var(--c-white);
    background-color: transparent;
    margin-bottom: 0;
}

section#contact::after {
    content: none;
}

section#contact .container {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

button#submit {
    margin-top: 18px;
}

button#submit:focus {
    box-shadow: 0 0 0 2px var(--c-white);
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#hero .container {
        display: block;
    }
    section#hero .hero-img {
        display: none;
    }
    section#hero .hero-text {
        font-size: var(--f-size-lrg);
        text-align: center;
    }
    section#hero #hero-cta {
        margin: 48px auto;
        font-size: var(--f-size-5);
    }
    section#contact .container {
        grid-template-columns: 1fr;
    }
}