nav.transparent .nav-wrapper .logo.white {
    display: none;
}

nav.transparent .logo.bnw-white {
    display: block;
}

/* HERO */
section#hero.hero {
    min-height: calc(100vh - var(--nav-height));
    padding: 0;
}

section#hero .eos-container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    justify-content: center;
    align-items: center;
}

.hero-img {
    grid-area: 1/2/2/3;
    height: 80%;
    margin: auto;
}

.hero-img img {
    display: block;
    margin: auto;
}

.hero-content {
    grid-area: 1/1/2/4;
    text-align: center;
    z-index: 1;
}

.hero-text {
    color: var(--c-white);
    font-size: 4rem;
    text-shadow: 0 2px 4px var(--c-black-opacity-40);
}

/* SECTIONS */
section:not(:first-of-type) {
    padding: calc(var(--nav-height) + 2vh) 0;
}

/* CONTACT */
/* section#contact {
    color: var(--c-white);
    background-color: transparent;
    margin-bottom: 0;
} */

/* section#contact::after {
    content: none;
} */

section#contact .eos-container {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

button#submit {
    margin-top: 18px;
}

/* button#submit:focus {
    box-shadow: 0 0 0 2px var(--c-white);
} */

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#hero .eos-container {
        display: block;
    }
    section#hero .hero-img {
        display: none;
    }
    section#hero .hero-text {
        font-size: var(--f-size-l);
        text-align: center;
    }
    section#hero #hero-cta {
        margin: 48px auto;
        font-size: var(--f-size-5);
    }
    section#contact .eos-container {
        grid-template-columns: 1fr;
    }
}