nav.transparent .logo.white {
    display: none;
}

nav.transparent .logo.bnw-white {
    display: block;
}

/* HERO */
section#hero.hero {
    min-height: calc(100vh - var(--nav-height));
    padding: 0;
}

section#hero .eos-container {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    justify-content: center;
    align-items: center;
}

.hero-img {
    grid-area: 1/2/2/3;
    margin: auto;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

@media screen and (orientation: landscape) {
    .hero-img {
        height: 80%;
    }
}

.hero-img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/brand/logos/icon.png);
    background-size: 100%;
    filter: brightness(0) blur(0.8rem) opacity(0.4);
    transform: translateZ(-200px) scale(1.2);
}

.hero-img img {
    display: block;
    margin: auto;
}

.hero-content {
    grid-area: 1/1/2/4;
    text-align: center;
    z-index: 1;
}

.hero-text {
    color: var(--c-white);
    font-size: 4rem;
    text-shadow: 0 2px 4px var(--c-black-opacity-40);
}

/* CONTACT */
section#contact .eos-container {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

button#submit {
    margin-top: 18px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#hero .hero-text {
        font-size: var(--f-size-l);
    }
    section#hero .hero-text br {
        display: none;
    }
    .hero-img {
        transform: perspective(0) !important;
    }
    section#contact .eos-container {
        grid-template-columns: 1fr;
    }
}

@media (prefers-reduced-motion: reduce) {
    .hero-img {
        transform: perspective(0) !important;
    }
}