html {
    scroll-behavior: smooth;
}

nav.transparent {
    background-color: transparent;
    color: var(--c-white);
    box-shadow: none;
}

img {
    max-width: 100%;
}

/* HERO */
section#hero {
    background-color: var(--c-background);
    min-height: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

canvas.particles-js-canvas-el {
    position: absolute;
}

.hero-wrapper {
    width: 90%;
    max-width: 1280px;
}

.hero-content {
    width: 72%;
}

.hero-text {
    font-size: var(--f-size-0);
    -webkit-text-stroke: 1px var(--c-primary);
    -webkit-text-fill-color: transparent;
}

/* SECTIONS */
.section {
    padding: 72px 0;
}

section#new,
section#contact {
    background-color: var(--c-background);
    color: var(--c-white);
}

.section-wrapper {
    display: grid;
    max-width: 960px;
    width: 90%;
    margin: auto;
    grid-gap: 2vw;
    align-items: center;
    grid-template-columns: 420px minmax(420px, 680px);
}

.section-underline {
    border: none;
    background-color: currentColor;
    height: 1px;
    margin: 12px 0;
    width: 72px;
}

section#contact .section-wrapper {
    align-items: start;
}

form#contact {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
}

.form-input {
    border: none;
    background-color: var(--c-white);
    font-size: var(--f-size-reg);
    padding: 12px;
}

.input-label {
    display: none;
}

textarea.form-input {
    resize: vertical;
}

button#submit {
    padding: 12px;
    width: fit-content;
    font-size: var(--f-size-reg);
    background-color: var(--c-primary);
    color: var(--c-white);
    border: none;
}

button#submit:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 860px) {
    .hero-content {
        width: 100%;
    }
    .hero-text {
        hyphens: auto;
    }
}