nav.transparent .logo.white {
	display: none;
}

nav.transparent .logo.bnw-white {
	display: block;
}

/* HERO */
section#hero.hero {
	min-height: calc(100vh - var(--nav-height));
	padding: 0;
}

section#hero .eos-container {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 60% 1fr;
	justify-content: center;
}

.hero-img {
	grid-area: 1/2/2/3;
	margin: auto;
	transform: perspective(1000px);
	transform-style: preserve-3d;
}

@media screen and (orientation: landscape) {
	.hero-img {
		height: 80%;
	}
}

.hero-img::after {
	background-image: url(/images/brand/logos/icon.png);
	background-size: 100%;
	content: '';
	filter: brightness(0) blur(0.8rem) opacity(0.4);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translateZ(-200px) scale(1.2);
	width: 100%;
}

.hero-img img {
	display: block;
	margin: auto;
}

.hero-content {
	grid-area: 1/1/2/4;
	text-align: center;
	z-index: 1;
}

.hero-text {
	color: var(--c-white);
	font-size: 4rem;
	text-shadow: 0 2px 4px var(--c-black-opacity-40);
}

/* SERVICES */
section.options .section-content {
	grid-template-columns: repeat(3, 1fr);
}

section.options .option {
	padding: var(--spacing-m);
	text-align: center;
}

section.options .option img {
	margin: 0 auto var(--spacing-m);
	max-width: 60%;
}

/* CONTACT */
section#contact .eos-container {
	align-items: flex-start;
	grid-template-columns: 1fr 1fr;
}

form#contact {
	display: grid;
	grid-gap: var(--spacing-s);
	grid-template-columns: 1fr;
}

.eos-input {
	--bg-colour: var(--c-purple-500);
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
	section#hero .hero-text {
		font-size: var(--f-size-l);
	}
	section#hero .hero-text br {
		display: none;
	}
	.hero-img {
		transform: perspective(0) !important;
	}
	.hero-img::after {
		transform: translateZ(-200px) scale(1) !important;
	}
	section.options .section-header {
		text-align: center;
	}
	section.options .section-header .section-underline {
		margin-left: auto;
		margin-right: auto;
	}
	section.options .section-content {
		grid-template-columns: 1fr;
	}
	section#contact .eos-container {
		grid-template-columns: 1fr;
	}
}

@media (prefers-reduced-motion: reduce) {
	.hero-img {
		transform: perspective(0) !important;
	}
}