/* MASTER */
.post_tag {
    text-transform: capitalize;
    color: var(--c-black);
    font-size: var(--f-size-sml);
    border-radius: 2px;
    background-color: var(--c-base-10);
    line-height: 2;
    white-space: nowrap;
    padding: calc(var(--f-size-reg) * 0.1) calc(var(--f-size-reg) * 0.4);
}

.post_details .post_tag {
    font-size: var(--f-size-reg);
    padding: calc(var(--f-size-reg) * 0.2) calc(var(--f-size-reg) * 0.5);
}

/* INSIGHTS */
section#hero {
    justify-content: center;
    text-align: center;
}

section#hero.insights {
    min-height: 16vh;
}

section#hero h1 {
    font-size: var(--f-size-lrg);
}

#posts .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: var(--f-size-reg);
}

.post-card {
    display: grid;
    grid-template-rows: 180px 1fr;
    border-radius: 4px;
    box-shadow: 0 2px 4px var(--c-base-20);
    overflow: hidden;
    color: var(--c-base);
    transition: all 400ms ease;
}

a.post-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px var(--c-base-20);
}

.post-card .post-card_feature-img {
        background-size: cover;
    background-position: center;
}

.post-card_content {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: var(--f-size-reg);
    padding: var(--f-size-reg);
}

.post-card .post-card_title {
    font-family: var(--f-title);
    font-size: var(--f-size-5);
    color: var(--c-black);
    line-height: 1.2;
}

.post-card .post-card_details {
    color: var(--c-black);
    align-self: end;
    display: grid;
    grid-gap: var(--f-size-reg);
}

.post-card_author {
    padding-right: var(--f-size-reg);
    margin-right: var(--f-size-reg);
    border-right: 1px solid var(--c-black);
}

/* POST */
section::before,
section::after {
    width: 100%;
    position: absolute;
    height: var(--wave-height);
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.post_title {
    font-size: var(--f-size-lrg);
}

.post_header {
    display: flex;
    justify-content: center;
    margin-top: var(--f-size-reg);
}

a.post_author {
    color: var(--c-white);
}

a.post_author::before {
    background-color: var(--c-white);
}

a.post_author:hover {
    color: var(--c-base);
}

.post_date {
    padding-left: var(--f-size-reg);
    margin-left: var(--f-size-reg);
    border-left: 1px solid var(--c-white);
}

.post_content {
  display: grid;
  grid-template-columns: auto min(100%, 65ch) auto;
}

.post_content > * {
  grid-column: 2;
}

.post_content figure {
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    margin: 0 0 var(--f-size-reg);
    text-align: center;
}

section#content img {
    max-width: 100%;
    max-height: 100%;
}

section#content p {
    color: var(--c-black);
    margin-bottom: var(--f-size-reg);
}

.post_content p:last-child,
.post_content hr:nth-last-child(2),
.post_content img[width="1"][height="1"] {
    display: none;
}

.post_details {
    max-width: 65ch;
    margin: var(--f-size-reg) auto 0;
}

/*  */
section#no-posts .container p {
    text-align: center;
}