/* INSIGHTS */
section#hero {
    justify-content: center;
    text-align: center;
}

section#hero.insights {
    min-height: 16vh;
}

section#hero h1 {
    font-size: var(--f-size-l);
}

#posts .eos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: var(--spacing-m);
}

#posts .post__author {
    padding-right: var(--spacing-m);
    margin-right: var(--spacing-m);
    border-right: 1px solid var(--c-black);
}

/* POST */
.post__header {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-m);
}

a.post__author {
    color: var(--c-white);
}

a.post__author::before {
    background-color: var(--c-white);
}

a.post__author:hover {
    color: var(--c-base-500);
}

.post__date {
    padding-left: var(--spacing-m);
    margin-left: var(--spacing-m);
    border-left: 1px solid var(--c-white);
}

.post__content {
  display: grid;
  grid-template-columns: auto min(100%, 65ch) auto;
}

.post__content > * {
  grid-column: 2;
}

.post__content figure {
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    margin: 0 0 var(--spacing-m);
    text-align: center;
}

section#content img {
    max-width: 100%;
    max-height: 100%;
}

section#content p {
    color: var(--c-black);
    margin-bottom: var(--spacing-m);
}


.post__details {
    max-width: 65ch;
    margin: var(--spacing-m) auto 0;
}

/* no posts */
section#no-posts .eos-container p {
    text-align: center;
}

/* Medium Reset */
.post__content p:last-child,
.post__content hr:nth-last-child(2),
.post__content img[width="1"][height="1"] {
    display: none;
}