nav.transparent::before {
    background-color: var(--c-base);
    box-shadow: 0 2px 6px var(--c-base-40);
}

main {
    margin-top: var(--nav-height);
    padding: 24px 0;
    background-color: var(--c-white);
}

h1 {
    margin-bottom: 12px;
}

h5 {
    margin: 1em 0 0.2em;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    line-height: 1.6;
}

footer {
    background-color: var(--c-base);
}