nav.transparent::before {
    background-color: var(--c-base-500);
    box-shadow: 0 2px 6px var(--c-base-400);
}

main {
    margin-top: var(--nav-height);
    padding: 24px 0;
    background-color: var(--c-white);
}

h1 {
    margin-bottom: var(--spacing-s);
}

h5 {
    margin: var(--spacing-m) 0 var(--spacing-xs);
}

main {
    padding-top: calc(var(--nav-height) + var(--spacing-xxl));
}