nav.transparent::before {
    background-color: var(--c-base-500);
    box-shadow: 0 2px 6px var(--c-base-400);
}

section#hero.hero {
    text-align: center;
    min-height: 16vh;
}

h1 {
    margin-bottom: var(--spacing-s);
}

h5 {
    margin: var(--spacing-m) 0 var(--spacing-xs);
}