/* MASTER STYLES */
:root {
    --wave-height: 72px;
}

body {
    background-color: var(--c-base);
    overflow-x: hidden;
}

.grecaptcha-badge {
    visibility: hidden;
}

/* FORM */
.input-purple .form-label,
.input-purple .form-input {
    color: var(--c-white);
}

.input-purple input,
.input-purple select,
.input-purple textarea {
    border: none;
    background-color: var(--c-purple-60);
}

.input-purple input:hover,
.input-purple input:focus,
.input-purple select:hover,
.input-purple select:focus,
.input-purple textarea:hover,
.input-purple textarea:focus {
    background-color: var(--c-purple-90);
}

.item-wrapper.input-purple.error-empty .form-input,
.item-wrapper.input-purple.error-invalid .form-input {
    background-color: var(--c-red-40);
}

.item-wrapper.input-purple.error-empty .form-input:focus,
.item-wrapper.input-purple.error-invalid .form-input:focus {
    background-color: var(--c-purple-90);
}