/* MASTER STYLES */
:root {
    --wave-height: 72px;
}

body {
    background-color: var(--c-base-500);
    overflow-x: hidden;
}

.grecaptcha-badge {
    visibility: hidden;
}

body.disablescroll {
    height: 100%;
    overflow: hidden;
}

/* ==================== */
/* STANDARD PAGE LAYOUT */
/* ==================== */
/* MASTER */
/* waves */
section:not(:first-of-type) {
    color: var(--c-base-500);
    background: var(--c-white);
    display: flex;
    align-items: center;
    padding: calc(var(--f-size-reg) + 2vh) 0;
}

section:not(:first-of-type):not(:last-of-type):nth-of-type(odd) {
    background-color: var(--c-purple-900);
}

section::before,
section::after {
    width: 100%;
    position: absolute;
    height: var(--wave-height);
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section:nth-of-type(2)::before {
    content: '';
    top: calc(var(--wave-height) * -1);
    background-image: url('/images/wave-1.png');
}

section:nth-of-type(2) {
    margin-top: var(--wave-height);
}

section:last-of-type:not(:first-of-type) {
    margin-bottom: var(--wave-height);
}

section:last-of-type:not(:first-of-type)::after {
    content: '';
    background-image: url('/images/wave-2.png');
    bottom: calc(var(--wave-height) * -1);
    transform: scaleY(-1) scaleX(-1);
}

@media screen and (max-width: 720px) {
    section:not(:first-of-type) {
        padding: var(--f-size-reg) 0;
    }
}

/* content */
.section-header {
    text-align: left;
}

.section-header .section-name {
    text-transform: uppercase;
    font-size: var(--f-size-sml);
}

.section-header .section-title {
    margin: 12px 0 18px;
}

.section-header .section-underline {
    margin: 0 0 18px;
}

.section-header.align-centre {
    text-align: center;
}

.section-header.align-centre .section-underline {
    margin: 0 auto 18px;
}

.section-header .section-underline {
    border: none;
    background-color: var(--c-blue-500);
    height: 2px;
    width: 72px;
}

.section-text {
    font-size: var(--f-size-5);
    margin-bottom: var(--f-size-5);
}

.section-text:last-of-type {
    margin-bottom: 0;
}

.section-btn {
    margin: 18px 0 0;
}

@media screen and (max-width: 720px) {
    .section-header.align-centre {
        text-align: left;
    }
    .section-header.align-centre .section-underline {
        margin: 0 0 18px;
    }
}

/* HERO */
section#hero {
    min-height: 42vh;
    padding: var(--nav-height) 0 var(--f-size-reg);
    display: flex;
    align-items: center;
    color: var(--c-white);
}

@media screen and (max-width: 720px) {
    section#hero .container {
        display: block;
    }
}

/* FEATURE */
section.feature .section-text {
    font-size: var(--f-size-1);
    text-align: center;
    margin: 0 auto var(--f-size-3);
    font-family: var(--f-title);
    color: var(--c-base-500);
}

section.feature .section-text:last-of-type {
    margin-bottom: 0;
}

section.feature .section-text b {
    font-weight: bold;
    color: var(--c-purple-500);
}

/* SIDE */
section.side .container {
    display: grid;
    grid-gap: 6vw;
}

section.side.img-text .container,
section.side.text-img .container {
    align-items: center;
}

section.side.img-text .container {
    grid-template-columns: 1fr 2fr;
}

section.side.text-img .container {
    grid-template-columns: 2fr 1fr;
}

section.side.text-img .section-content,
section.side.img-text .section-img {
    order: 1;
}

section.side.text-img .section-img,
section.side.img-text .section-content {
    order: 2;
}

@media screen and (max-width: 720px) {
    section.side.img-text .container,
    section.side.text-img .container,
    section.option-list .section-content {
        grid-template-columns: 1fr;
    }
    section.side.text-img .section-content,
    section.side.img-text .section-content {
        order: 1;
    }
    section.side.text-img .section-img,
    section.side.img-text .section-img {
        order: 2;
        padding: var(--f-size-reg);
    }
}

/* OPTION LIST */
section.option-list .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--f-size-reg);
}

.option-list .section-btn {
    margin: 18px auto 0;
}

.option {
    padding: var(--f-size-reg);
    border-radius: 4px;
    transition: all 200ms ease;
}

a.option:hover,
button.option:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px var(--c-grey-200);
    cursor: pointer;
}

.option-title {
    text-align: center;
    font-size: var(--f-size-5);
    margin-top: var(--f-size-reg);
    color: var(--c-base-500);
    font-family: var(--f-body);
}

.option.active {
    box-shadow: 0 2px 6px var(--c-base-400);
}

.option.active .option-title {
    color: var(--c-purple-500);
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    section.option-list .section-content {
        grid-template-columns: 1fr;
    }
    .option {
        padding: calc(2 * var(--f-size-reg));
    }
}

/* FORM */
.input-wrapper.input-purple input,
.input-wrapper.input-purple textarea,
.input-wrapper.input-purple label {
    color: var(--c-white);
}

.input-wrapper.input-purple {
    border: none;
    background-color: var(--c-purple-600);
}

.input-wrapper.input-purple:hover,
.input-wrapper.input-purple.active {
    background-color: var(--c-purple-900);
}

.input-wrapper.input-purple.error-empty,
.input-wrapper.input-purple.error-invalid {
    background-color: var(--c-red-400);
}

.input-wrapper.input-purple.error-empty.active,
.input-wrapper.input-purple.error-invalid.active {
    background-color: var(--c-purple-900);
}