/* COLOUR */
:root {
    --c-primary: rgb(57,186,236);
    --c-primary-10: rgba(57,186,236,0.1);
    --c-primary-20: rgba(57,186,236,0.2);
    --c-primary-30: rgba(57,186,236,0.3);
    --c-primary-40: rgba(57,186,236,0.4);
    --c-primary-50: rgba(57,186,236,0.5);
    --c-primary-60: rgba(57,186,236,0.6);
    --c-primary-70: rgba(57,186,236,0.7);
    --c-primary-80: rgba(57,186,236,0.8);
    --c-primary-90: rgba(57,186,236,0.9);
    --c-secondary: rgb(31,24,50);
    --c-secondary-10: rgba(31,24,50,0.1);
    --c-secondary-20: rgba(31,24,50,0.2);
    --c-secondary-30: rgba(31,24,50,0.3);
    --c-secondary-40: rgba(31,24,50,0.4);
    --c-secondary-50: rgba(31,24,50,0.5);
    --c-secondary-60: rgba(31,24,50,0.6);
    --c-secondary-70: rgba(31,24,50,0.7);
    --c-secondary-80: rgba(31,24,50,0.8);
    --c-secondary-90: rgba(31,24,50,0.9);
    --c-purple: rgb(98,90,167);
    --c-purple-10: rgba(98,90,167,0.1);
    --c-purple-20: rgba(98,90,167,0.2);
    --c-purple-30: rgba(98,90,167,0.3);
    --c-purple-40: rgba(98,90,167,0.4);
    --c-purple-50: rgba(98,90,167,0.5);
    --c-purple-60: rgba(98,90,167,0.6);
    --c-purple-70: rgba(98,90,167,0.7);
    --c-purple-80: rgba(98,90,167,0.8);
    --c-purple-90: rgba(98,90,167,0.9);
    --c-yellow: rgb(255,205,0);
    --c-yellow-10: rgba(255,205,0,0.1);
    --c-yellow-20: rgba(255,205,0,0.2);
    --c-yellow-30: rgba(255,205,0,0.3);
    --c-yellow-40: rgba(255,205,0,0.4);
    --c-yellow-50: rgba(255,205,0,0.5);
    --c-yellow-60: rgba(255,205,0,0.6);
    --c-yellow-70: rgba(255,205,0,0.7);
    --c-yellow-80: rgba(255,205,0,0.8);
    --c-yellow-90: rgba(255,205,0,0.9);
    --c-green: rgb(53,188,157);
    --c-green-10: rgba(53,188,157,0.1);
    --c-green-20: rgba(53,188,157,0.2);
    --c-green-30: rgba(53,188,157,0.3);
    --c-green-40: rgba(53,188,157,0.4);
    --c-green-50: rgba(53,188,157,0.5);
    --c-green-60: rgba(53,188,157,0.6);
    --c-green-70: rgba(53,188,157,0.7);
    --c-green-80: rgba(53,188,157,0.8);
    --c-green-90: rgba(53,188,157,0.9);
    --c-red: rgb(222,53,11);
    --c-red-10: rgba(222,53,11,0.1);
    --c-red-20: rgba(222,53,11,0.2);
    --c-red-30: rgba(222,53,11,0.3);
    --c-red-40: rgba(222,53,11,0.4);
    --c-red-50: rgba(222,53,11,0.5);
    --c-red-60: rgba(222,53,11,0.6);
    --c-red-70: rgba(222,53,11,0.7);
    --c-red-80: rgba(222,53,11,0.8);
    --c-red-90: rgba(222,53,11,0.9);
    --c-white: rgb(255,255,255);
    --c-white-10: rgba(255,255,255,0.1);
    --c-white-20: rgba(255,255,255,0.2);
    --c-white-30: rgba(255,255,255,0.3);
    --c-white-40: rgba(255,255,255,0.4);
    --c-white-50: rgba(255,255,255,0.5);
    --c-white-60: rgba(255,255,255,0.6);
    --c-white-70: rgba(255,255,255,0.7);
    --c-white-80: rgba(255,255,255,0.8);
    --c-white-90: rgba(255,255,255,0.9);
    --c-black: rgb(0,0,0);
    --c-black-10: rgba(0,0,0,0.1);
    --c-black-20: rgba(0,0,0,0.2);
    --c-black-30: rgba(0,0,0,0.3);
    --c-black-40: rgba(0,0,0,0.4);
    --c-black-50: rgba(0,0,0,0.5);
    --c-black-60: rgba(0,0,0,0.6);
    --c-black-70: rgba(0,0,0,0.7);
    --c-black-80: rgba(0,0,0,0.8);
    --c-black-90: rgba(0,0,0,0.9);
}

/* FONT */
:root {
    --f-body: 'Lato', sans-serif;
    --f-title: 'Quicksand', sans-serif;
    --f-scale: 1.25;
    --f-size-reg: 1rem;
    --f-size-sml: calc(var(--f-size-reg) / var(--f-scale));
    --f-size-5: calc(var(--f-size-reg) * var(--f-scale));
    --f-size-4: calc(var(--f-size-5) * var(--f-scale));
    --f-size-3: calc(var(--f-size-4) * var(--f-scale));
    --f-size-2: calc(var(--f-size-3) * var(--f-scale));
    --f-size-1: calc(var(--f-size-2) * var(--f-scale));
    --f-size-0: calc(var(--f-size-1) * var(--f-scale));
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
div {
    font-family: var(--f-body);
    font-weight: 400;
    margin: 0;
}

/* typescale */
h1 {font-size: var(--f-size-1);}
h2 {font-size: var(--f-size-2);}
h3 {font-size: var(--f-size-3);}
h4 {font-size: var(--f-size-4);}
h5 {font-size: var(--f-size-5);}

p,
a {
    font-size: var(--f-size-reg);
}

/* MASTER STYLES */
:root {
    --wave-height: 72px;
}

html {
    scroll-behavior: smooth;
}

section {
    z-index: 1;
    position: relative;
}

::selection {
    background: var(--c-primary);
    color: var(--c-secondary);
    -webkit-text-stroke-color: var(--c-secondary);
}

body {
    margin: 0;
    position: relative;
    font-family: var(--f-body);
    -webkit-font-smoothing: antialiased;
    background-color: var(--c-primary);
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a.link {
    position: relative;
}

a.link::after {
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: transform 200ms ease;
    -webkit-transition: transform 200ms ease;
    /* transform-origin: right; */
}

a.link:hover::after {
    transform: scaleX(1);
    /* transform-origin: left; */
}

.reduced-motion a.link::after {
    transition: transform 0ms ease;
    -webkit-transition: transform 0ms ease;
}

/* fade in */
.fade-in {
    opacity: 0;
    transition: opacity 1200ms ease, transform 800ms ease;
    -webkit-transition: opacity 1200ms ease, transform 800ms ease;
}

.fade-up {
    transform: translateY(48px);
}

.fade-down {
    transform: translateY(-48px);
}

.fade-left {
    transform: translateX(48px);
}

.fade-right {
    transform: translateX(-48px);
}

.fade-in.visible,
.reduced-motion .fade-in {
    opacity: 1;
    transform: translateY(0) translateX(0);
}

@media screen and (max-width: 860px) {
    .fade-in {
        opacity: 1;
        transform: translateY(0);
    }
}

/* PARTICLE JS */
#particle-js {
    background-color: var(--c-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

canvas.particles-js-canvas-el {
    position: absolute;
    opacity: 0.4;
}