/* MASTER STYLES */
:root {
    --wave-height: 72px;
}

body {
    background-color: var(--c-base);
    overflow-x: hidden;
}

h1.glow-effect,
h2.glow-effect,
h3.glow-effect,
h4.glow-effect,
h5.glow-effect {
    text-shadow: 0 0 12px currentColor;
}

/* BTNS */
/* default */
.btn.glow-effect.active,
.btn.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-base);
}

.btn-filled {
    background-color: var(--c-base);
    color: var(--c-white);
}

.btn-filled.active {

}

.btn-filled:hover {
    background-color: var(--c-base-90);
}

/* blue */
.btn.btn-blue.glow-effect.active,
.btn.btn-blue.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-blue);
}

.btn-filled.btn-blue {
    background-color: var(--c-blue);
    color: var(--c-white);
}

.btn-filled.btn-blue.active {

}

.btn-filled.btn-blue:hover {
    background-color: var(--c-blue-90);
}

/* purple */
.btn.btn-purple.glow-effect.active,
.btn.btn-purple.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-purple);
}

.btn-filled.btn-purple {
    background-color: var(--c-purple);
    color: var(--c-white);
}

.btn-filled.btn-purple.active {

}

.btn-filled.btn-purple:hover {
    background-color: var(--c-purple-90);
}

/* green */
.btn.btn-green.glow-effect.active,
.btn.btn-green.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-green);
}

.btn-filled.btn-green {
    background-color: var(--c-green);
    color: var(--c-white);
}

.btn-filled.btn-green.active {

}

.btn-filled.btn-green:hover {
    background-color: var(--c-green-90);
}

/* red */
.btn.btn-red.glow-effect.active,
.btn.btn-red.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-red);
}

.btn-filled.btn-red {
    background-color: var(--c-red);
    color: var(--c-white);
}

.btn-filled.btn-red.active {

}

.btn-filled.btn-red:hover {
    background-color: var(--c-red-90);
}

/* FORM */
.input-purple .form-label,
.input-purple .form-input {
    color: var(--c-white);
}

.input-purple input,
.input-purple select,
.input-purple textarea {
    border: none;
    background-color: var(--c-purple-60);
}

.input-purple input:hover,
.input-purple input:focus,
.input-purple select:hover,
.input-purple select:focus,
.input-purple textarea:hover,
.input-purple textarea:focus {
    background-color: var(--c-purple-90);
}

.input-purple.glow-effect input:focus,
.input-purple.glow-effect select:focus,
.input-purple.glow-effect textarea:focus {
    box-shadow: 0 0 12px var(--c-purple);
}

.item-wrapper.input-purple.error-empty .form-input,
.item-wrapper.input-purple.error-invalid .form-input {
    background-color: var(--c-red-40);
}

.item-wrapper.input-purple.error-empty .form-input:focus,
.item-wrapper.input-purple.error-invalid .form-input:focus {
    background-color: var(--c-purple-90);
}