/* MASTER STYLES */
:root {
    --wave-height: 72px;
}

html {
    scroll-behavior: smooth;
}

section {
    z-index: 1;
    position: relative;
}

::selection {
    background: var(--c-primary);
    color: var(--c-secondary);
    -webkit-text-stroke-color: var(--c-secondary);
}

body {
    background-color: var(--c-primary);
    overflow-x: hidden;
}

/* PARTICLE JS */
#particle-js {
    background-color: var(--c-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

canvas.particles-js-canvas-el {
    position: absolute;
    opacity: 0.4;
}