/* SECTIONS */
section.hero .eos-container {
    max-width: 48rem;
}

section.hero .section-header,
section.hero .section-text {
    text-align: center;
}

section.hero .section-header .section-underline {
    margin: 0 auto 18px;
}