/* SECTIONS */
section:not(:first-of-type):not(:last-of-type):nth-of-type(odd) {
    background-color: var(--c-white);
}

/* HERO */
section#hero {
    min-height: 48vh;
    display: flex;
}

section#hero .container {
    color: var(--c-white);
    text-align: center;
}

section#hero .section-underline {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 720px) {
    section#hero {
        margin-top: var(--nav-height);
    }
    .section-header,
    .section-text {
        text-align: left;
    }
    section#hero .section-underline {
        margin-left: 0;
        margin-right: 0;
    }
}