:root {
    --grey: #f0f0f0;
    --dark-grey: #606060;
    --outline-width: 6px;
    --nav-height: 68px;
}

body {
    margin: 0;
}

.element {
    background-color: var(--grey);
    outline: var(--outline-width) solid var(--dark-grey);
    outline-offset: calc(-1 * var(--outline-width));
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100' fill='none' stroke='grey' stroke-width='6' vector-effect='non-scaling-stroke'/><path d='M0 0 L100 100' fill='none' stroke='grey' stroke-width='6' vector-effect='non-scaling-stroke'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

nav {
    width: 100%;
    height: var(--nav-height);
    display: block;
    position: fixed;
    z-index: 9999;
}

section#hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-wrapper {
    width: 100%;
    padding: 0 48px;
    transform: translateY(calc(var(--nav-height) / 2));
}

.hero-title {
    height: 72px;
    width: 80%;
    display: block;
    margin: auto;
}

.hero-content {
    height: 480px;
    margin-top: 48px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-gap: 48px;
}