/* BRAND */
section#brand {
    display: block;
}

section#brand .full-width {
    margin-top: var(--spacing-m);
    display: block;
}

/* VALUES */
#values.option-list .section-content {
    grid-template-columns: repeat(4, 1fr);
}

.option {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.value-img {
    height: 100%;
    display: flex;
    align-items: center;
}

.values-description {
    display: grid;
    margin-top: var(--spacing-m);
}

.values-description p {
    opacity: 0;
    grid-row: 1/2;
    grid-column: 1/2;
    transition: opacity 200ms ease;
}

.values-description p.active {
    opacity: 1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    section#brand .section-img {
        display: none;
    }
    #values.option-list .section-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .option {
        grid-template-rows: 1fr ;
    }
}