section#error {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.error-wrapper {
    text-align: center;
}

.error-message > * {
    color: var(--c-white);
    font-family: var(--f-title);
    font-weight: 500;
}

.error-wrapper > h1 {
    font-size: var(--f-size-lrg);
}

.error-wrapper .eos-btn {
    margin: var(--spacing-m) auto 0;
}