/* STYLES */
html {
    scroll-behavior: smooth;
}

section {
    z-index: 1;
    position: relative;
}

::selection {
    background: var(--c-blue);
    color: var(--c-base);
}

/* FONT */
:root {
    --f-body: 'Lato', sans-serif;
    --f-title: 'Quicksand', sans-serif;
    --f-scale: 1.25;
    --f-size-reg: 1rem;
    --f-size-sml: calc(var(--f-size-reg) / var(--f-scale));
    --f-size-5: calc(var(--f-size-reg) * var(--f-scale));
    --f-size-4: calc(var(--f-size-5) * var(--f-scale));
    --f-size-3: calc(var(--f-size-4) * var(--f-scale));
    --f-size-2: calc(var(--f-size-3) * var(--f-scale));
    --f-size-1: calc(var(--f-size-2) * var(--f-scale));
    --f-size-0: calc(var(--f-size-1) * var(--f-scale));
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
div {
    font-family: var(--f-body);
    font-weight: 400;
    margin: 0;
}

/* typescale */
h1 {font-size: var(--f-size-1);}
h2 {font-size: var(--f-size-2);}
h3 {font-size: var(--f-size-3);}
h4 {font-size: var(--f-size-4);}
h5 {font-size: var(--f-size-5);}

p,
a {
    font-size: var(--f-size-reg);
    line-height: 1.6;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 1px solid currentColor;
    outline-offset: 2px;
}

.container {
    width: 90%;
    max-width: 1440px;
    display: block;
    margin: auto;
}

body {
    margin: 0;
    position: relative;
    font-family: var(--f-body);
    -webkit-font-smoothing: antialiased;
}

/* text */
h1.glow-effect,
h2.glow-effect,
h3.glow-effect,
h4.glow-effect,
h5.glow-effect,
p.glow-effect,
a.glow-effect,
span.glow-effect {
    text-shadow: 0 0 12px currentColor;
}

a.btn.glow-effect {
    text-shadow: none;
}

/* Links */
a.link {
    position: relative;
}

a.link:hover {
    cursor: pointer;
}

a.link::after {
    content: '';
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transition: tramsform 200ms ease;
    transition: transform 200ms ease;
    /* transform-origin: right; */
}

.reduced-motion a.link::after {
    transition: none;
    -webkit-transition: none;
}

a.link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    /* transform-origin: left; */
}

/* ======= */
/* BUTTONS */
/* ======= */
/*
* UNIVERSAL
    * icon
    * flat
    * outline
* DEFAULT
    * filled
    * flat
    * glow effect
* BLUE
    * filled
    * flat
    * glow effect
* PURPLE
    * filled
    * flat
    * glow effect
* GREEN
    * filled
    * flat
    * glow effect
* RED
    * filled
    * flat
    * glow effect
 */

/* UNIVERSAL */
.btn {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    font-size: var(--f-size-reg);
    font-family: var(--f-body);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: min-content;
    height: min-content;
    line-height: normal;
    white-space: nowrap;
}

.btn:not(.fade-in) {
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px currentColor;
}

/* icon */
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.btn-icon.icon-left .material-icons {
    margin-right: 10px;
}

.btn-icon.icon-right .material-icons {
    margin-left: 10px;
}

.btn.icon-only {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    padding: 6px;
}

/* flat */
.btn.btn-flat {
    background-color: transparent;
}

/* outline */
.btn.btn-outline {
    border: 1px solid currentColor;
}

/* DEFAULT */
.btn {
    color: var(--c-base);
    background-color: var(--c-base-10);
}

.btn:hover,
.btn.active {
    background-color: var(--c-base-20);
}

/* filled */
.btn-filled {
    background-color: var(--c-base);
    color: var(--c-white);
}

.btn-filled.active {

}

.btn-filled:hover {
    background-color: var(--c-base-90);
}

/* flat */
.btn-flat {
    color: var(--c-base);
}

.btn-flat:hover,
.btn-outline:hover,
.btn-flat.active {
    background-color: var(--c-base-10);
}

/* glow effect */
.btn.glow-effect.active,
.btn.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-base);
}

/* BLUE */
.btn.btn-blue {
    color: var(--c-blue);
    background-color: var(--c-blue-10);
}

.btn.btn-blue:hover,
.btn.btn-blue.active {
    background-color: var(--c-blue-20);
}

/* filled */
.btn-filled.btn-blue {
    background-color: var(--c-blue);
    color: var(--c-white);
}

.btn-filled.btn-blue.active {

}

.btn-filled.btn-blue:hover {
    background-color: var(--c-blue-90);
}

/* flat */
.btn-flat.btn-blue {
    color: var(--c-blue);
    background-color: transparent;
}

.btn-flat.btn-blue:hover,
.btn-outline.btn-blue:hover {
    background-color: var(--c-blue-10);
}

/* glow effect */
.btn.btn-blue.glow-effect.active,
.btn.btn-blue.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-blue);
}

/* PURPLE */
.btn.btn-purple {
    color: var(--c-purple);
    background-color: var(--c-purple-10);
}

.btn.btn-purple:hover,
.btn.btn-purple.active {
    background-color: var(--c-purple-20);
}

/* filled */
.btn-filled.btn-purple {
    background-color: var(--c-purple);
    color: var(--c-white);
}

.btn-filled.btn-purple.active {

}

.btn-filled.btn-purple:hover {
    background-color: var(--c-purple-90);
}

/* flat */
.btn-flat.btn-purple {
    color: var(--c-purple);
    background-color: transparent;
}

.btn-flat.btn-purple:hover,
.btn-outline.btn-purple:hover {
    background-color: var(--c-purple-10);
}

/* glow effect */
.btn.btn-purple.glow-effect.active,
.btn.btn-purple.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-purple);
}

/* GREEN */
.btn.btn-green {
    color: var(--c-green);
    background-color: var(--c-green-10);
}

.btn.btn-green:hover,
.btn.btn-green.active {
    background-color: var(--c-green-20);
}

/* filled */
.btn-filled.btn-green {
    background-color: var(--c-green);
    color: var(--c-white);
}

.btn-filled.btn-green.active {

}

.btn-filled.btn-green:hover {
    background-color: var(--c-green-90);
}

/* flat */
.btn-flat.btn-green {
    color: var(--c-green);
    background-color: transparent;
}

.btn-flat.btn-green:hover,
.btn-outline.btn-green:hover {
    background-color: var(--c-green-10);
}

/* glow effect */
.btn.btn-green.glow-effect.active,
.btn.btn-green.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-green);
}

/* RED */
.btn.btn-red {
    color: var(--c-red);
    background-color: var(--c-red-10);
}

.btn.btn-red:hover,
.btn.btn-red.active {
    background-color: var(--c-red-20);
}

/* filled */
.btn-filled.btn-red {
    background-color: var(--c-red);
    color: var(--c-white);
}

.btn-filled.btn-red.active {

}

.btn-filled.btn-red:hover {
    background-color: var(--c-red-90);
}

/* flat */
.btn-flat.btn-red {
    color: var(--c-red);
    background-color: transparent;
}

.btn-flat.btn-red:hover,
.btn-outline.btn-red:hover {
    background-color: var(--c-red-10);
}

/* glow effect */
.btn.btn-red.glow-effect.active,
.btn.btn-red.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-red);
}

/* BUTTON GROUP */
.btn-group {
    display: flex;
    width: min-content;
    height: min-content;
    border-radius: 4px;
    border: 1px solid var(--c-base-20);
}

.btn-group .btn {
    border-radius: 0;
}

.btn-group .btn:first-child {
    border-radius: 3px 0 0 3px;
}

.btn-group .btn:last-child {
    border-radius: 0 3px 3px 0;
}

/* ===== */
/* FORMS */
/* ===== */
/* STYLE */
form .item-wrapper:not(:last-of-type) {
    margin-bottom: 18px;
}

select {
    cursor: pointer;
    text-indent: calc(var(--f-size-reg) - 4px);
    height: calc(var(--f-size-reg) + (2 * var(--f-size-reg)));
    width: 100%;
}

input,
textarea {
    padding: var(--f-size-reg);
    transition: all 200ms ease;
    width: calc(100% - (2 * var(--f-size-reg)));
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    padding: 0;
    width: auto;
}

.form-input {
    font-family: var(--f-body);
    font-size: var(--f-size-reg);
    border-radius: 4px;
    border: 1px solid var(--c-base);
    background-color: transparent;
}

input:hover,
select:hover,
textarea:hover {
    background-color: var(--c-base-05);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--c-base);
    background-color: var(--c-base-05);
}

/* filled */
.input-filled input,
.input-filled select,
.input-filled textarea {
    border: none;
    background-color: var(--c-base-05);
}

.input-filled input:hover,
.input-filled input:focus,
.input-filled select:hover,
.input-filled select:focus,
.input-filled textarea:hover,
.input-filled textarea:focus {
    background-color: var(--c-base-10);
}

/* glow-effect */
.glow-effect input:focus,
.glow-effect select:focus,
.glow-effect textarea:focus {
    box-shadow: 0 0 12px var(--c-base);
}

/* purple */
.input-purple input,
.input-purple select,
.input-purple textarea {
    border: 1px solid var(--c-purple);
}

.input-purple input:hover,
.input-purple select:hover,
.input-purple textarea:hover {
    background-color: var(--c-purple-10);
}

.input-purple input:focus,
.input-purple select:focus,
.input-purple textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--c-purple);
    background-color: var(--c-purple-10);
}

.input-purple.input-filled .form-label,
.input-purple.input-filled .form-input {
    color: var(--c-white);
}

.input-purple.input-filled input,
.input-purple.input-filled select,
.input-purple.input-filled textarea {
    border: none;
    background-color: var(--c-purple-60);
}

.input-purple.input-filled input:hover,
.input-purple.input-filled input:focus,
.input-purple.input-filled select:hover,
.input-purple.input-filled select:focus,
.input-purple.input-filled textarea:hover,
.input-purple.input-filled textarea:focus {
    background-color: var(--c-purple-90);
}

.input-purple.glow-effect input:focus,
.input-purple.glow-effect select:focus,
.input-purple.glow-effect textarea:focus {
    box-shadow: 0 0 12px var(--c-purple);
}

/* checkbox */
.inner-label .type-input-checkbox .form-label {
    position: relative;
    display: block;
    left: 0;
    top: 0;
}

.inner-label .item-wrapper.active.type-input-checkbox .form-label,
.inner-label .item-wrapper.has-value.type-input-checkbox .form-label {
    font-size: var(--f-size-reg);
    top: 0;
}

.type-input-checkbox input {
    width: auto;
    padding: 0;
    margin: 12px 0 0;
}

/* STRUCTURE */
/* inner */
.inner-label .item-wrapper {
    position: relative;
}

.inner-label .form-label {
    position: absolute;
    left: var(--f-size-reg);
    top: var(--f-size-reg);
    font-size: var(--f-size-reg);
    transition: all 200ms ease;
    color: var(--c-greyscale-40);
}

.inner-label .item-wrapper.active .form-label,
.inner-label .item-wrapper.has-value .form-label {
    font-size: var(--f-size-sml);
    top: 0.4rem;
}

.inner-label .item-wrapper.type-select.active .form-label,
.inner-label .item-wrapper.type-select.has-value .form-label {
    top: -18px;
    left: 0;
}

.inner-label .item-wrapper:not(.type-select) .form-input:focus,
.inner-label .item-wrapper:not(.type-select).has-value .form-input{
    padding: calc(1.6 * var(--f-size-reg)) var(--f-size-reg) calc(0.4 * var(--f-size-reg));
}

/* side */
.side-label .item-wrapper {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 24px;
}

.side-label .form-label {
    font-family: var(--f-title);
    font-size: var(--f-size-5);
    padding: var(--f-size-reg) 0;
}

/* VALIDATION */
.required .form-label::after {
    content: '*';
}

.item-wrapper.error-empty .form-input,
.item-wrapper.error-invalid .form-input {
    border-color: var(--c-red);
}

.item-wrapper.input-filled.error-empty .form-input,
.item-wrapper.input-filled.error-invalid .form-input {
    background-color: var(--c-red-10);
}

.item-wrapper.input-filled.error-empty .form-input:focus,
.item-wrapper.input-filled.error-invalid .form-input:focus {
    background-color: var(--c-base-10);
}

.item-wrapper.input-filled.input-purple.error-empty .form-input,
.item-wrapper.input-filled.input-purple.error-invalid .form-input {
    background-color: var(--c-red-40);
}

.item-wrapper.input-filled.input-purple.error-empty .form-input:focus,
.item-wrapper.input-filled.input-purple.error-invalid .form-input:focus {
    background-color: var(--c-purple-90);
}

.item-wrapper.error-empty::after,
.item-wrapper.error-invalid::after {
    font-family: var(--f-body);
    font-size: var(--f-size-sml);
    color: var(--c-red);
    margin: calc(var(--f-size-reg)/2) var(--f-size-reg);
    display: block;
}

.item-wrapper.error-empty::after {
    content: 'Please fill in this required field.';
}

.item-wrapper.validate-email.error-invalid::after {
    content: 'Please enter a valid email address.';
}

.item-wrapper.validate-fullName.error-invalid::after {
    content: 'Please enter your full name.'
}

.item-wrapper.validate-mobileNumber.error-invalid::after {
    content: 'Please enter a valid Australian mobile number.'
}

/* Table */
.table-container {
    border-radius: 3px;
    border: 1px solid var(--c-black-10);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table .th {
    background-color: var(--c-base-05);
    text-align: left;
    padding: 12px;
    font-family: var(--f-title);
    font-weight: 500;
}

.table td,
.table .td {
    padding: 12px;
    font-family: var(--f-body);
    border-top: 1px solid var(--c-black-10);
}

.table td.actions,
.table .td.actions {
    text-align: center;
}

/* ACCORDION */
.accordion {
    border: 1px solid var(--c-base-40);
    border-radius: 4px;
}

.accordion-item {
    padding: 0 24px;
    border-bottom: 1px solid var(--c-base-40);
}

.accordion-item:last-of-type {
    border-bottom: none;
}

.accordion-item-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    cursor: pointer;
}

.accordion-item-content {
    height: 0px;
    overflow: hidden;
    transition: height 400ms ease;
}

.accordion-item.active .accordion-item-content {
    height: max-content;
    border-top: 1px solid var(--c-base-20);
    padding: 12px 0;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    width: 480px;
    max-width: 86%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--c-white);
    border-radius: 6px;
    box-shadow: 0 4px 6px var(--c-black-10);
    padding: 18px;
    z-index: 12;
}

.modal-background {
    display: none;
    content: '';
    position: absolute;
    background-color: var(--c-black-40);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr 36px;
    margin-bottom: 24px;
}

.modal-title {
    font-family: var(--f-title);
}

.modal-actions {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.modal-actions .btn {
    margin-left: 12px;
}

/* Fade Elements */
.fade-in {
    opacity: 0;
    -webkit-transition: all 200ms ease, opacity 1200ms ease, transform 800ms ease;
    transition: all 200ms ease, opacity 1200ms ease, transform 800ms ease;
}

.fade-up {
    -webkit-transform: translateY(48px);
    transform: translateY(48px);
}

.fade-down {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
}

.fade-left {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
}

.fade-right {
    -webkit-transform: translateX(-48px);
    transform: translateX(-48px);
}

.reduced-motion .fade-in {
    transition: none;
    -webkit-transition: none;
}

.fade-in.visible,
.reduced-motion .fade-in {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
}

@media screen and (max-width: 860px) {
    .fade-in {
        opacity: 1;
        transform: translateY(0);
    }
}

/* PARTICLE JS */
#particle-js {
    background-color: var(--c-base);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

canvas.particles-js-canvas-el {
    position: absolute;
    opacity: 0.4;
}