/* STYLES */
html {
    scroll-behavior: smooth;
}

section {
    z-index: 1;
    position: relative;
}

::selection {
    background: var(--c-primary);
    color: var(--c-secondary);
}

/* COLOUR */
:root {
    --c-primary: rgb(55,189,237);
    --c-primary-05: rgba(55,189,237,0.05);
    --c-primary-10: rgba(55,189,237,0.1);
    --c-primary-20: rgba(55,189,237,0.2);
    --c-primary-30: rgba(55,189,237,0.3);
    --c-primary-40: rgba(55,189,237,0.4);
    --c-primary-50: rgba(55,189,237,0.5);
    --c-primary-60: rgba(55,189,237,0.6);
    --c-primary-70: rgba(55,189,237,0.7);
    --c-primary-80: rgba(55,189,237,0.8);
    --c-primary-90: rgba(55,189,237,0.9);
    --c-secondary: rgb(31,24,50);
    --c-secondary-05: rgba(31,24,50,0.05);
    --c-secondary-10: rgba(31,24,50,0.1);
    --c-secondary-20: rgba(31,24,50,0.2);
    --c-secondary-30: rgba(31,24,50,0.3);
    --c-secondary-40: rgba(31,24,50,0.4);
    --c-secondary-50: rgba(31,24,50,0.5);
    --c-secondary-60: rgba(31,24,50,0.6);
    --c-secondary-70: rgba(31,24,50,0.7);
    --c-secondary-80: rgba(31,24,50,0.8);
    --c-secondary-90: rgba(31,24,50,0.9);
    --c-purple: rgb(98,90,167);
    --c-purple-05: rgba(98,90,167,0.05);
    --c-purple-10: rgba(98,90,167,0.1);
    --c-purple-20: rgba(98,90,167,0.2);
    --c-purple-30: rgba(98,90,167,0.3);
    --c-purple-40: rgba(98,90,167,0.4);
    --c-purple-50: rgba(98,90,167,0.5);
    --c-purple-60: rgba(98,90,167,0.6);
    --c-purple-70: rgba(98,90,167,0.7);
    --c-purple-80: rgba(98,90,167,0.8);
    --c-purple-90: rgba(98,90,167,0.9);
    --c-yellow: rgb(255,205,0);
    --c-yellow-10: rgba(255,205,0,0.1);
    --c-yellow-20: rgba(255,205,0,0.2);
    --c-yellow-30: rgba(255,205,0,0.3);
    --c-yellow-40: rgba(255,205,0,0.4);
    --c-yellow-50: rgba(255,205,0,0.5);
    --c-yellow-60: rgba(255,205,0,0.6);
    --c-yellow-70: rgba(255,205,0,0.7);
    --c-yellow-80: rgba(255,205,0,0.8);
    --c-yellow-90: rgba(255,205,0,0.9);
    --c-green: rgb(53,188,157);
    --c-green-10: rgba(53,188,157,0.1);
    --c-green-20: rgba(53,188,157,0.2);
    --c-green-30: rgba(53,188,157,0.3);
    --c-green-40: rgba(53,188,157,0.4);
    --c-green-50: rgba(53,188,157,0.5);
    --c-green-60: rgba(53,188,157,0.6);
    --c-green-70: rgba(53,188,157,0.7);
    --c-green-80: rgba(53,188,157,0.8);
    --c-green-90: rgba(53,188,157,0.9);
    --c-red: rgb(222,53,11);
    --c-red-10: rgba(222,53,11,0.1);
    --c-red-20: rgba(222,53,11,0.2);
    --c-red-30: rgba(222,53,11,0.3);
    --c-red-40: rgba(222,53,11,0.4);
    --c-red-50: rgba(222,53,11,0.5);
    --c-red-60: rgba(222,53,11,0.6);
    --c-red-70: rgba(222,53,11,0.7);
    --c-red-80: rgba(222,53,11,0.8);
    --c-red-90: rgba(222,53,11,0.9);
    --c-white: rgb(255,255,255);
    --c-white-10: rgba(255,255,255,0.1);
    --c-white-20: rgba(255,255,255,0.2);
    --c-white-30: rgba(255,255,255,0.3);
    --c-white-40: rgba(255,255,255,0.4);
    --c-white-50: rgba(255,255,255,0.5);
    --c-white-60: rgba(255,255,255,0.6);
    --c-white-70: rgba(255,255,255,0.7);
    --c-white-80: rgba(255,255,255,0.8);
    --c-white-90: rgba(255,255,255,0.9);
    --c-black: rgb(0,0,0);
    --c-black-10: rgba(0,0,0,0.1);
    --c-black-20: rgba(0,0,0,0.2);
    --c-black-30: rgba(0,0,0,0.3);
    --c-black-40: rgba(0,0,0,0.4);
    --c-black-50: rgba(0,0,0,0.5);
    --c-black-60: rgba(0,0,0,0.6);
    --c-black-70: rgba(0,0,0,0.7);
    --c-black-80: rgba(0,0,0,0.8);
    --c-black-90: rgba(0,0,0,0.9);
    --c-greyscale-10: hsl(0,0%,10%);
    --c-greyscale-20: hsl(0,0%,20%);
    --c-greyscale-30: hsl(0,0%,30%);
    --c-greyscale-40: hsl(0,0%,40%);
    --c-greyscale-50: hsl(0,0%,50%);
    --c-greyscale-60: hsl(0,0%,60%);
    --c-greyscale-70: hsl(0,0%,70%);
    --c-greyscale-80: hsl(0,0%,80%);
    --c-greyscale-90: hsl(0,0%,90%);
}

:root {
    --c-contextualisation: var(--c-yellow);
    --c-contextualisation-10: var(--c-yellow-10);
    --c-contextualisation-20: var(--c-yellow-20);
    --c-contextualisation-30: var(--c-yellow-30);
    --c-contextualisation-40: var(--c-yellow-40);
    --c-contextualisation-50: var(--c-yellow-50);
    --c-contextualisation-60: var(--c-yellow-60);
    --c-contextualisation-70: var(--c-yellow-70);
    --c-contextualisation-80: var(--c-yellow-80);
    --c-contextualisation-90: var(--c-yellow-90);
    --c-ideation: var(--c-green);
    --c-ideation-10: var(--c-green-10);
    --c-ideation-20: var(--c-green-20);
    --c-ideation-30: var(--c-green-30);
    --c-ideation-40: var(--c-green-40);
    --c-ideation-50: var(--c-green-50);
    --c-ideation-60: var(--c-green-60);
    --c-ideation-70: var(--c-green-70);
    --c-ideation-80: var(--c-green-80);
    --c-ideation-90: var(--c-green-90);
    --c-validation: var(--c-red);
    --c-validation-10: var(--c-red-10);
    --c-validation-20: var(--c-red-20);
    --c-validation-30: var(--c-red-30);
    --c-validation-40: var(--c-red-40);
    --c-validation-50: var(--c-red-50);
    --c-validation-60: var(--c-red-60);
    --c-validation-70: var(--c-red-70);
    --c-validation-80: var(--c-red-80);
    --c-validation-90: var(--c-red-90);
}

/* FONT */
:root {
    --f-body: 'Lato', sans-serif;
    --f-title: 'Quicksand', sans-serif;
    --f-scale: 1.25;
    --f-size-reg: 1rem;
    --f-size-sml: calc(var(--f-size-reg) / var(--f-scale));
    --f-size-5: calc(var(--f-size-reg) * var(--f-scale));
    --f-size-4: calc(var(--f-size-5) * var(--f-scale));
    --f-size-3: calc(var(--f-size-4) * var(--f-scale));
    --f-size-2: calc(var(--f-size-3) * var(--f-scale));
    --f-size-1: calc(var(--f-size-2) * var(--f-scale));
    --f-size-0: calc(var(--f-size-1) * var(--f-scale));
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
div {
    font-family: var(--f-body);
    font-weight: 400;
    margin: 0;
}

/* typescale */
h1 {font-size: var(--f-size-1);}
h2 {font-size: var(--f-size-2);}
h3 {font-size: var(--f-size-3);}
h4 {font-size: var(--f-size-4);}
h5 {font-size: var(--f-size-5);}

p,
a {
    font-size: var(--f-size-reg);
    line-height: 1.6;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 1px solid currentColor;
    outline-offset: 2px;
}

.container {
    width: 90%;
    max-width: 1440px;
    display: block;
    margin: auto;
}

body {
    margin: 0;
    position: relative;
    font-family: var(--f-body);
    -webkit-font-smoothing: antialiased;
}

/* text */
h1.glow-effect,
h2.glow-effect,
h3.glow-effect,
h4.glow-effect,
h5.glow-effect,
p.glow-effect,
a.glow-effect,
span.glow-effect {
    text-shadow: 0 0 12px currentColor;
}

a.btn.glow-effect {
    text-shadow: none;
}

/* Links */
a.link {
    position: relative;
}

a.link:hover {
    cursor: pointer;
}

a.link::after {
    content: '';
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transition: tramsform 200ms ease;
    transition: transform 200ms ease;
    /* transform-origin: right; */
}

.reduced-motion a.link::after {
    transition: none;
    -webkit-transition: none;
}

a.link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    /* transform-origin: left; */
}

/* ======= */
/* BUTTONS */
/* ======= */
/*
* UNIVERSAL
    * icon
    * flat
    * outline
* DEFAULT
    * filled
    * flat
    * glow effect
* PRIMARY
    * filled
    * flat
    * glow effect
* PURPLE
    * filled
    * flat
    * glow effect
* GREEN
    * filled
    * flat
    * glow effect
* RED
    * filled
    * flat
    * glow effect
 */

/* UNIVERSAL */
.btn {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    font-size: var(--f-size-reg);
    font-family: var(--f-body);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: min-content;
    height: min-content;
    line-height: normal;
    white-space: nowrap;
}

.btn:not(.fade-in) {
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px currentColor;
}

/* icon */
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.btn-icon.icon-left .material-icons {
    margin-right: 10px;
}

.btn-icon.icon-right .material-icons {
    margin-left: 10px;
}

.btn.icon-only {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    padding: 6px;
}

/* flat */
.btn.btn-flat {
    background-color: transparent;
}

/* outline */
.btn.btn-outline {
    border: 1px solid currentColor;
}

/* DEFAULT */
.btn {
    color: var(--c-secondary);
    background-color: var(--c-secondary-10);
}

.btn:hover,
.btn.active {
    background-color: var(--c-secondary-20);
}

/* filled */
.btn-filled {
    background-color: var(--c-secondary);
    color: var(--c-white);
}

.btn-filled.active {

}

.btn-filled:hover {
    background-color: var(--c-secondary-90);
}

/* flat */
.btn-flat {
    color: var(--c-secondary);
}

.btn-flat:hover,
.btn-outline:hover {
    background-color: var(--c-secondary-10);
}

/* glow effect */
.btn.glow-effect.active,
.btn.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-secondary);
}

/* PRIMARY */
.btn.btn-primary {
    color: var(--c-primary);
    background-color: var(--c-primary-10);
}

.btn.btn-primary:hover,
.btn.btn-primary.active {
    background-color: var(--c-primary-20);
}

/* filled */
.btn-filled.btn-primary {
    background-color: var(--c-primary);
    color: var(--c-white);
}

.btn-filled.btn-primary.active {

}

.btn-filled.btn-primary:hover {
    background-color: var(--c-primary-90);
}

/* flat */
.btn-flat.btn-primary {
    color: var(--c-primary);
}

.btn-flat.btn-primary:hover,
.btn-outline.btn-primary:hover {
    background-color: var(--c-primary-10);
}

/* glow effect */
.btn.btn-primary.glow-effect.active,
.btn.btn-primary.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-primary);
}

/* PURPLE */
.btn.btn-purple {
    color: var(--c-purple);
    background-color: var(--c-purple-10);
}

.btn.btn-purple:hover,
.btn.btn-purple.active {
    background-color: var(--c-purple-20);
}

/* filled */
.btn-filled.btn-purple {
    background-color: var(--c-purple);
    color: var(--c-white);
}

.btn-filled.btn-purple.active {

}

.btn-filled.btn-purple:hover {
    background-color: var(--c-purple-90);
}

/* flat */
.btn-flat.btn-purple {
    color: var(--c-purple);
}

.btn-flat.btn-purple:hover,
.btn-outline.btn-purple:hover {
    background-color: var(--c-purple-10);
}

/* glow effect */
.btn.btn-purple.glow-effect.active,
.btn.btn-purple.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-purple);
}

/* GREEN */
.btn.btn-green {
    color: var(--c-green);
    background-color: var(--c-green-10);
}

.btn.btn-green:hover,
.btn.btn-green.active {
    background-color: var(--c-green-20);
}

/* filled */
.btn-filled.btn-green {
    background-color: var(--c-green);
    color: var(--c-white);
}

.btn-filled.btn-green.active {

}

.btn-filled.btn-green:hover {
    background-color: var(--c-green-90);
}

/* flat */
.btn-flat.btn-green {
    color: var(--c-green);
}

.btn-flat.btn-green:hover,
.btn-outline.btn-green:hover {
    background-color: var(--c-green-10);
}

/* glow effect */
.btn.btn-green.glow-effect.active,
.btn.btn-green.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-green);
}

/* RED */
.btn.btn-red {
    color: var(--c-red);
    background-color: var(--c-red-10);
}

.btn.btn-red:hover,
.btn.btn-red.active {
    background-color: var(--c-red-20);
}

/* filled */
.btn-filled.btn-red {
    background-color: var(--c-red);
    color: var(--c-white);
}

.btn-filled.btn-red.active {

}

.btn-filled.btn-red:hover {
    background-color: var(--c-red-90);
}

/* flat */
.btn-flat.btn-red {
    color: var(--c-red);
}

.btn-flat.btn-red:hover,
.btn-outline.btn-red:hover {
    background-color: var(--c-red-10);
}

/* glow effect */
.btn.btn-red.glow-effect.active,
.btn.btn-red.glow-effect:hover {
    box-shadow: 0 0 12px var(--c-red);
}

/* ===== */
/* FORMS */
/* ===== */
/* STYLE */
form .item-wrapper:not(:last-of-type) {
    margin-bottom: 18px;
}

select {
    cursor: pointer;
    text-indent: calc(var(--f-size-reg) - 4px);
    height: calc(var(--f-size-reg) + (2 * var(--f-size-reg)));
    width: 100%;
}

input,
textarea {
    padding: var(--f-size-reg);
    transition: all 200ms ease;
    width: calc(100% - (2 * var(--f-size-reg)));
}

textarea {
    resize: vertical;
}

.form-input {
    font-family: var(--f-body);
    font-size: var(--f-size-reg);
    border-radius: 4px;
    border: 1px solid var(--c-secondary);
    background-color: transparent;
}

input:hover,
select:hover,
textarea:hover {
    background-color: var(--c-secondary-05);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--c-secondary);
    background-color: var(--c-secondary-05);
}

/* filled */
.input-filled input,
.input-filled select,
.input-filled textarea {
    border: none;
    background-color: var(--c-secondary-05);
}

.input-filled input:hover,
.input-filled input:focus,
.input-filled select:hover,
.input-filled select:focus,
.input-filled textarea:hover,
.input-filled textarea:focus {
    background-color: var(--c-secondary-10);
}

/* glow-effect */
.glow-effect input:focus,
.glow-effect select:focus,
.glow-effect textarea:focus {
    box-shadow: 0 0 12px var(--c-secondary);
}

/* purple */
.input-purple input,
.input-purple select,
.input-purple textarea {
    border: 1px solid var(--c-purple);
}

.input-purple input:hover,
.input-purple select:hover,
.input-purple textarea:hover {
    background-color: var(--c-purple-10);
}

.input-purple input:focus,
.input-purple select:focus,
.input-purple textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--c-purple);
    background-color: var(--c-purple-10);
}

.input-purple.input-filled .form-label,
.input-purple.input-filled .form-input {
    color: var(--c-white);
}

.input-purple.input-filled input,
.input-purple.input-filled select,
.input-purple.input-filled textarea {
    border: none;
    background-color: var(--c-purple-60);
}

.input-purple.input-filled input:hover,
.input-purple.input-filled input:focus,
.input-purple.input-filled select:hover,
.input-purple.input-filled select:focus,
.input-purple.input-filled textarea:hover,
.input-purple.input-filled textarea:focus {
    background-color: var(--c-purple-90);
}

.input-purple.glow-effect input:focus,
.input-purple.glow-effect select:focus,
.input-purple.glow-effect textarea:focus {
    box-shadow: 0 0 12px var(--c-purple);
}

/* STRUCTURE */
/* inner */
.inner-label .item-wrapper {
    position: relative;
}

.inner-label .form-label {
    position: absolute;
    left: var(--f-size-reg);
    top: var(--f-size-reg);
    font-size: var(--f-size-reg);
    transition: all 200ms ease;
    color: var(--c-greyscale-40);
}

.inner-label .item-wrapper.active .form-label,
.inner-label .item-wrapper.has-value .form-label {
    font-size: var(--f-size-sml);
    top: 0.4rem;
}

.inner-label .item-wrapper.type-select.active .form-label,
.inner-label .item-wrapper.type-select.has-value .form-label {
    top: -18px;
    left: 0;
}

.inner-label .item-wrapper:not(.type-select) .form-input:focus,
.inner-label .item-wrapper:not(.type-select).has-value .form-input{
    padding: calc(1.6 * var(--f-size-reg)) var(--f-size-reg) calc(0.4 * var(--f-size-reg));
}

/* side */
.side-label .item-wrapper {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 24px;
}

.side-label .form-label {
    font-family: var(--f-title);
    font-size: var(--f-size-5);
    padding: var(--f-size-reg) 0;
}

/* VALIDATION */
.required .form-label::after {
    content: '*';
}

.item-wrapper.error-empty .form-input,
.item-wrapper.error-invalid .form-input {
    border-color: var(--c-red);
}

.item-wrapper.input-filled.error-empty .form-input,
.item-wrapper.input-filled.error-invalid .form-input {
    background-color: var(--c-red-10);
}

.item-wrapper.input-filled.error-empty .form-input:focus,
.item-wrapper.input-filled.error-invalid .form-input:focus {
    background-color: var(--c-secondary-10);
}

.item-wrapper.input-filled.input-purple.error-empty .form-input,
.item-wrapper.input-filled.input-purple.error-invalid .form-input {
    background-color: var(--c-red-40);
}

.item-wrapper.input-filled.input-purple.error-empty .form-input:focus,
.item-wrapper.input-filled.input-purple.error-invalid .form-input:focus {
    background-color: var(--c-purple-90);
}

.item-wrapper.error-empty::after,
.item-wrapper.error-invalid::after {
    font-family: var(--f-body);
    font-size: var(--f-size-sml);
    color: var(--c-red);
    margin: calc(var(--f-size-reg)/2) var(--f-size-reg);
    display: block;
}

.item-wrapper.error-empty::after {
    content: 'Please fill in this required field.';
}

.item-wrapper.validate-email.error-invalid::after {
    content: 'Please enter a valid email address.';
}

.item-wrapper.validate-fullName.error-invalid::after {
    content: 'Please enter your full name.'
}

/* Table */
.table-container {
    border-radius: 3px;
    border: 1px solid var(--c-black-10);
}

table,
.table {
    width: 100%;
    border-collapse: collapse;
}

th,
.th {
    background-color: var(--c-secondary-05);
    text-align: left;
    padding: 12px;
    font-family: var(--f-title);
    font-weight: 500;
}

td,
.td {
    padding: 12px;
    font-family: var(--f-body);
    border-top: 1px solid var(--c-black-10);
}

td.actions,
.td.actions {
    text-align: center;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    min-width: 480px;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--c-white);
    border-radius: 6px;
    box-shadow: 0 4px 6px var(--c-black-10);
    padding: 18px;
    z-index: 12;
}

.modal-background {
    display: none;
    content: '';
    position: absolute;
    background-color: var(--c-black-40);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr 36px;
    margin-bottom: 24px;
}

.modal-title {
    font-family: var(--f-title);
}

.modal-actions {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.modal-actions .btn {
    margin-left: 12px;
}

/* Fade Elements */
.fade-in {
    opacity: 0;
    -webkit-transition: all 200ms ease, opacity 1200ms ease, transform 800ms ease;
    transition: all 200ms ease, opacity 1200ms ease, transform 800ms ease;
}

.fade-up {
    -webkit-transform: translateY(48px);
    transform: translateY(48px);
}

.fade-down {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
}

.fade-left {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
}

.fade-right {
    -webkit-transform: translateX(-48px);
    transform: translateX(-48px);
}

.reduced-motion .fade-in {
    transition: none;
    -webkit-transition: none;
}

.fade-in.visible,
.reduced-motion .fade-in {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
}

@media screen and (max-width: 860px) {
    .fade-in {
        opacity: 1;
        transform: translateY(0);
    }
}

/* PARTICLE JS */
#particle-js {
    background-color: var(--c-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

canvas.particles-js-canvas-el {
    position: absolute;
    opacity: 0.4;
}