<% include ../partials/head %>

<meta property="og:url" content="https://www.inastra.co/services/change-management">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ../partials/head-bottom %>
<% include ../components/nav %>
<main>
<section id="hero" class="hero">
    <div class="eos-container">
        <div class="section-header">
            <p class="section-name">Services</p>
            <h1 class="section-title">Change Management</h1>
            <hr class="section-underline">
        </div>
        <p class="section-text">Manage the transition to future state.</p>
    </div>
</section>
<div class="wave-section">
    <section class="feature">
        <div class="eos-container">
            <p class="section-text">Discover how to <b>seamlessly implement</b> your innovative solutions through <b>integration frameworks</b> and strategies that uniquely capitalise on your <b>existing culture and values</b>.</p>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Change Management</p>
                    <h2 class="section-title">Understanding your Envionment</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Every organisation has a unique culture that impacts the ways it adapts to change. We help you understand end-to-end stakeholder journeys, both internally and externally, so you can mitigate risks and implement change quickly and effectively.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/environemnt.png" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Change Management</p>
                    <h2 class="section-title">Transformation Strategy</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">We’ll help you create an implementation strategy that caters to your unique stakeholders and culture, and determine success metrics to evaluate the transition to your future state.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/change.png" alt="">
            </div>
        </div>
    </section>
</div>
</main>

<% include ../components/footer %>