<% include ../partials/head %>

<meta property="og:url" content="https://www.inastra.co/services/creative-capabilities">
<meta property="og:image" content="https://www.inastra.co/images/marketing/inastra_ad-img.jpg" />

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ../partials/head-bottom %>
<% include ../partials/nav %>
<main>
<section id="hero" class="hero">
    <div class="eos-container">
        <div class="section-header">
            <p class="section-name">Services</p>
            <h1 class="section-title">Creative Capabilities</h1>
            <hr class="section-underline">
        </div>
        <p class="section-text">Your people, primed for innovation.</p>
    </div>
</section>
<div class="wave-section">
    <section class="feature">
        <div class="eos-container">
            <p class="section-text">Empower a cultural shift towards an <b>innovation mindset</b>, upskill your people in <b>creative methods and tools</b>, and embed structured opportunities to apply these to <b>your business challenges</b>.</p>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Creative Capabilities</p>
                    <h2 class="section-title">Creativity Workshops</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Build the creative capabilities of your team. Deliver a deviation in routine that primes them to continuously question preconceptions and understand a variety of perspectives. Equip them with tools, methodologies and frameworks that empower them to utilise innovative practices throughout everyday actions.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/workshop1.png" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Creative Capabilities</p>
                    <h2 class="section-title">Internal Innovation Initiatives</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Understand how you can best engage your people in innovative practices through internally driven activities that develop creative abilities and facilitate unique ideas.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/star-window.png" alt="">
            </div>
        </div>
    </section>
</div>
</main>

<% include ../partials/footer %>