<% include ../partials/head %>

<meta property="og:url" content="https://www.inastra.co/services/creative-capabilities">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ../partials/head-bottom %>
<% include ../components/nav %>
<main>
<section id="hero" class="hero">
    <div class="eos-container">
        <div class="section-header">
            <p class="section-name">Services</p>
            <h1 class="section-title">Creative Capabilities</h1>
            <hr class="section-underline">
        </div>
        <p class="section-text">Your people, just more creative.</p>
    </div>
</section>
<div class="wave-section">
    <section class="feature">
        <div class="eos-container">
            <p class="section-text">Empower a cultural shift towards a <b>desire to innovate</b>, an upskill of methods and tools to understand <b>how to innovate</b>, and structured projects and opportunities providing the <b>chance to innovate</b>.</p>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Creative Capabilities</p>
                    <h2 class="section-title">Creativity Workshops</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Deliver a deviation in routine that primes them to continuously question preconceptions and understand a variety of perspectives. Equip them with tools, methodologies and frameworks that empower them to utilise creative practices throughout everyday actions.</p>
            </div>
            <div class="section-img">
                <img src="/images/services/creative-workshop.png" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Creative Capabilities</p>
                    <h2 class="section-title">Internal Innovation Initiatives</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem provident ut recusandae sequi voluptatibus quasi tempora, repudiandae tenetur voluptates nemo?</p>
            </div>
            <div class="section-img">
                <img src="/images/values/knowledge.png" alt="">
            </div>
        </div>
    </section>
</div>
</main>

<% include ../components/footer %>