<% include ../partials/head %>

<meta property="og:url" content="https://www.inastra.co/services/solution-design">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ../partials/head-bottom %>
<% include ../components/nav %>
<main>
<section id="hero" class="hero">
    <div class="eos-container">
        <div class="hero-content">
            <h1>Solution Design</h1>
            <p>Headline.</p>
        </div>
    </div>
</section>
<div class="wave-section">
    <section class="feature">
        <div class="eos-container">
            <p class="section-text">Description.</p>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Section Name</p>
                    <h2 class="section-title">Section Title</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem provident ut recusandae sequi voluptatibus quasi tempora, repudiandae tenetur voluptates nemo?</p>
            </div>
            <div class="section-img">
                <img src="https://source.unsplash.com/300x300" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Section Name</p>
                    <h2 class="section-title">Section Title</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem provident ut recusandae sequi voluptatibus quasi tempora, repudiandae tenetur voluptates nemo?</p>
            </div>
            <div class="section-img">
                <img src="https://source.unsplash.com/300x300" alt="">
            </div>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Case Study</p>
                    <h2 class="section-title">Case Study Title</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem provident ut recusandae sequi voluptatibus quasi tempora, repudiandae tenetur voluptates nemo?</p>
                <a href="#" class="section-btn eos-btn">Read more</a>
            </div>
            <div class="section-img">
                <img src="/images/clients/ihg.png" alt="">
            </div>
        </div>
    </section>
</div>
</main>

<% include ../components/footer %>