<% include ../partials/head %>

<meta property="og:url" content="https://www.inastra.co/services/solution-design">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ../partials/head-bottom %>
<% include ../components/nav %>
<main>
<section id="hero" class="hero">
    <div class="eos-container">
        <div class="section-header">
            <p class="section-name">Services</p>
            <h1 class="section-title">Solution Design</h1>
            <hr class="section-underline">
        </div>
        <p class="section-text">Generate innovative solutions, fast.</p>
    </div>
</section>
<div class="wave-section">
    <section class="feature">
        <div class="eos-container">
            <p class="section-text">Understand the problem, structure <b>ideation processes</b>, and incorporate unique perspectives for <b>holistically effective solutions</b>.</p>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Solution Design</p>
                    <h2 class="section-title">Design Sprints</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">No matter the business challenge, we’ll assemble a team of innovation practitioners that are best equipped to help you solve it. You give us the brief, we take it away, unpack it, explore possibilities and test ideas to give you impactful solutions.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/workshop1.png" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Solution Design</p>
                    <h2 class="section-title">Process Facilitation</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">You’re the expert in your field, we’re the experts in creative change. Through process facilitation we bring the two together and create what comes next. We work alongside your team to guide them through a tailored innovation process that involves deep diving into the problem space and exploring a number of exciting solutions before progressing to concept validation, testing and implementation.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/process-selection.png" alt="">
            </div>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Solution Design</p>
                    <h2 class="section-title">Ideation Workshops</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Engage your people to approach a specific business challenge. We facilitate transdisciplinary collaboration to help you apply creative methods and generate innovative solutions quickly and effectively.</p>
            </div>
            <div class="section-img">
                <img src="/images/illustrations/workshop2.png" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Case Study</p>
                    <h2 class="section-title">Redesigning hotel operational structures for an agile pandemic response</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">To adapt and respond to the global COVID-19 pandemic, the InterContinental Hotel Group needed to reimagine the way hotels have operated for decades.</p>
                <a href="/case-studies/redesigning-hotel-organisational-structures-for-an-agile-pandemic-response" class="section-btn eos-btn">Read more</a>
            </div>
            <div class="section-img">
                <img src="/images/clients/ihg.png" alt="">
            </div>
        </div>
    </section>
</div>
</main>

<% include ../components/footer %>