<% include ../partials/head %>

<meta property="og:url" content="https://www.inastra.co/services/solution-design">

<link rel="stylesheet" href="/stylesheets/services.css">
<script src="/javascripts/services.js"></script>

<% include ../partials/head-bottom %>
<% include ../components/nav %>
<main>
<section id="hero" class="hero">
    <div class="eos-container">
        <div class="section-header">
            <p class="section-name">Services</p>
            <h1 class="section-title">Solution Design</h1>
            <hr class="section-underline">
        </div>
        <p class="section-text">Generate creative solutions, fast.</p>
    </div>
</section>
<div class="wave-section">
    <section class="feature">
        <div class="eos-container">
            <p class="section-text">Description.</p>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Solution Design</p>
                    <h2 class="section-title">Design Sprints</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">No matter the business challenge, we’ll assemble a team of creative intelligence practitioners that are best equipped to help you solve it. You give us the brief, we take it away, unpack it, explore possibilities and test ideas to give you solutions.</p>
            </div>
            <div class="section-img">
                <img src="/images/services/solution-design.png" alt="">
            </div>
        </div>
    </section>
    <section class="side img-text">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Solution Design</p>
                    <h2 class="section-title">Process Facilitation</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">You’re the expert in your field, we’re the experts in creative change. Through process facilitation we bring the two together and create what comes next. We work alongside your team to guide them through a tailored creative process that involves deep diving into the problem space and exploring a number of exciting solutions before progressing to concept validation, testing and implementation.</p>
            </div>
            <div class="section-img">
                <img src="/images/services/process-facilitation.png" alt="">
            </div>
        </div>
    </section>
    <section class="side text-img">
        <div class="eos-container">
            <div class="section-content">
                <div class="section-header">
                    <p class="section-name">Case Study</p>
                    <h2 class="section-title">Case Study Title</h2>
                    <hr class="section-underline">
                </div>
                <p class="section-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem provident ut recusandae sequi voluptatibus quasi tempora, repudiandae tenetur voluptates nemo?</p>
                <a href="#" class="section-btn eos-btn">Read more</a>
            </div>
            <div class="section-img">
                <img src="/images/clients/ihg.png" alt="">
            </div>
        </div>
    </section>
</div>
</main>

<% include ../components/footer %>